[data-page=".global_menu_Project"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #E07878;
}
[data-page=".global_menu_Project"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #DB7093;
}
[data-page=".global_menu_Project"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


