[data-page="calcalendar_edit"][data-itemid="integrated_edit_field"][data-page="calcalendar_edit"][data-itemid="integrated_edit_field"][data-page="calcalendar_edit"][data-itemid="integrated_edit_field"][data-page="calcalendar_edit"][data-itemid="integrated_edit_field"] {
  padding-bottom: 10px;
}
[data-page="calcalendar_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="calcalendar_edit"][data-itemid="integrated_edit_field14"] {
  display:none;
}

