[data-page="calglobals_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="calglobals_edit"][data-itemid="integrated_edit_field7"] {
  width:200px!important;
}

/* Put  your custom CSS code here */

[data-page="calglobals_edit"][data-itemid="integrated_edit_field2"] {
  width:200px!important;
}

/* Put  your custom CSS code here */

[data-page="calglobals_edit"][data-itemid="integrated_edit_field8"] {
  width:200px!important;
}

