[data-page="todocomments_list"][data-itemid="grid_field1"] {
  font-size: 11px;
}
[data-page="todocomments_list"][data-itemid="grid_field2"] {
  font-weight: bold;
  font-size: 11px;
}
[data-page="todocomments_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


