[data-page="todocomments_add"][data-itemid="integrated_edit_field1"][data-page="todocomments_add"][data-itemid="integrated_edit_field1"][data-page="todocomments_add"][data-itemid="integrated_edit_field1"][data-page="todocomments_add"][data-itemid="integrated_edit_field1"] {
  width: 780px;
}
[data-page="todocomments_add"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-page="todocomments_add"][data-itemid="integrated_edit_field1"] {
  margin-left:0px!important;
}

