[data-page="todocomments_edit"][data-itemid="integrated_edit_field1"][data-page="todocomments_edit"][data-itemid="integrated_edit_field1"][data-page="todocomments_edit"][data-itemid="integrated_edit_field1"][data-page="todocomments_edit"][data-itemid="integrated_edit_field1"] {
  width: 780px;
}
[data-page="todocomments_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


[data-page="todocomments_edit"][data-itemid="integrated_edit_field1"] {
  margin-left:0px!important;
}

