<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel todocards view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN cardname_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_cardname}  r-vertical-field" data-fieldname="cardname" data-signal-error-for="cardname{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="cardname" data-fieldname="cardname" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_cardname}">
		
		{BEGIN cardname_label}{$label todocards cardname }{END cardname_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$cardname_value}	</div>

		
</div>


{END cardname_fieldblock}
	
								</td>
			{END cellblock_grid_c}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN assign_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_assign}  r-vertical-field" data-fieldname="assign" data-signal-error-for="assign{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="assign" data-fieldname="assign" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_assign}">
		
		{BEGIN assign_label}{$label todocards assign }{END assign_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$assign_value}	</div>

		
</div>


{END assign_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c2}
<td
	{$cell_grid_c2}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c2" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="snippet1" {$item_snippet1} data-pageid="{$pageid}" >
{$event todocards_color}
</span>											{BEGIN categoryid_fieldblock}
	<div class="r-view-field" data-itemtype="edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-page="todocards_view" data-field="categoryid" data-fieldname="categoryid" data-compact >
		{$categoryid_value}	</div>
{END categoryid_fieldblock}
	
								</td>
			{END cellblock_grid_c2}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c1}
<td
	{$cell_grid_c1}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c1" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN duedate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_duedate}  r-vertical-field" data-fieldname="duedate" data-signal-error-for="duedate{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="duedate" data-fieldname="duedate" data-compact >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_duedate}">
		
		{BEGIN duedate_label}{$label todocards duedate }{END duedate_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$duedate_value}	</div>

		
</div>


{END duedate_fieldblock}
										</td>
			{END cellblock_grid_c1}
										</tr>
										</tbody></table>
				 
	<div class="panel panel-default form-section" data-itemtype="section" data-itemid="section" {$item_section} data-pageid="{$pageid}" data-page="todocards_view">
		<div class="panel-heading" role="tab" {$section_section1_headattrs} 
			data-toggle="collapse"  

				href="#section1{$pageid}" aria-expanded="false" aria-controls="section1"

		>
		  <h4 class="panel-title">
		  				<a role="button" >
				Comments			</a>
					  </h4>
		</div>
		<div  class="panel-collapse collapse  {$section_section1_xtrclass}" role="tabpanel"  {$section_section1_attrs}

				id="section1{$pageid}" 
		>
		  <div class="panel-body">
			{BEGIN section_block}




 
	 
												
{BEGIN details_todocomments}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$details_pagetitle_todocomments}			
							<span>
					{$detailslButtons_todocomments}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_todocomments}
		</div>
	</div>
</div>
{END details_todocomments}
	
				{END section_block}
		  </div>
		</div>
	</div>
	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		<span data-itemtype="snippet" data-itemid="snippet" {$item_snippet} data-pageid="{$pageid}" >
{$event Close1}
</span>	 
		<span data-itemtype="custom_button" data-itemid="custom_button" {$item_custom_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Edit" href="javascript:void(0)" typeid="ib" >
							Edit			</a>
</span>
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
