<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-register" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
				.r-pretty-login-page > .r-controls {
					background: white;
				}
				.r-pretty-login-page > .r-sideimage {
					background: #f2f2f2;
				}
		</style>

		<div class="r-pretty-login-page"
						 data-image-shadow 			 data-left-image 		>
			<div class="r-controls">
				<div class="r-mainform">
													{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="pretty-login" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="register_header" data-itemid="register_header" {$item_register_header} data-pageid="{$pageid}" >{$pagetitlelabel  register}</h2>
		</div>					</div>
			</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="pretty-login" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<div data-itemtype="register_message" data-itemid="register_message" {$item_register_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
</div>
			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
									{BEGIN grid_block}
<table class="r-fluid r-form" data-location="grid" id="form_grid_{$pageid}" data-makeup="pretty-login" {$form_grid} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_grid_0} >
									<td 
	class=" r-ori-vert			"
			 
	data-cellId="grid_c3" data-pageid="{$pageid}">
 

{BEGIN username_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_username}  r-vertical-field" 
	data-signal-error-for="username{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="username" data-fieldname="username" >

	<label class="r-edit-label control-label" for="{$labelfor_username}">
		{BEGIN username_label}{$label pdf_users username }{END username_label}
	</label>
	<div class="r-edit-field">
		{$username_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="username" {$tooltipAttr pdf_users username } >
		<div class="text-muted" >
		{$tooltip pdf_users username }		</div>
	</div>
</div>


{END username_fieldblock}
 

{BEGIN password_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_password}  r-vertical-field" 
	data-signal-error-for="password{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="password" data-fieldname="password" >

	<label class="r-edit-label control-label" for="{$labelfor_password}">
		{BEGIN password_label}{$label pdf_users password }{END password_label}
	</label>
	<div class="r-edit-field">
		{$password_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="password" {$tooltipAttr pdf_users password } >
		<div class="text-muted" >
		{$tooltip pdf_users password }		</div>
	</div>
</div>


{END password_fieldblock}
 

{BEGIN confirm_block}


<div class="r-integrated-field form-group clearfix {$fielddispclass_confirm_aoel3cx}  r-vertical-field" 
	data-signal-error-for="confirm{$id}" 
	data-itemtype="integrated_confirm_password" data-itemid="integrated_confirm_password" {$item_integrated_confirm_password} data-pageid="{$pageid}" data-field="confirm_aoel3cx" data-fieldname="confirm_aoel3cx" >

	<label class="r-edit-label control-label" for="{$labelfor_confirm_aoel3cx_confirm}">
		{BEGIN confirm_label}Confirm password{END confirm_label}
	</label>
	<div class="r-edit-field">
		{$confirm_editcontrol1}	</div>
	<div class="r-edit-tooltip" data-helpfor="confirm" {$tooltipAttr pdf_users confirm_aoel3cx } >
		<div class="text-muted" >
		{$tooltip pdf_users confirm_aoel3cx }		</div>
	</div>
</div>


{END confirm_block}
 

{BEGIN email_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_email}  r-vertical-field" 
	data-signal-error-for="email{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="email" data-fieldname="email" >

	<label class="r-edit-label control-label" for="{$labelfor_email}">
		{BEGIN email_label}{$label pdf_users email }{END email_label}
	</label>
	<div class="r-edit-field">
		{$email_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="email" {$tooltipAttr pdf_users email } >
		<div class="text-muted" >
		{$tooltip pdf_users email }		</div>
	</div>
</div>


{END email_fieldblock}
</td>
							</tr>
					
					</tbody>
				</table>
{END grid_block}
									{BEGIN footer_block}
<table class="r-fluid r-form" data-location="footer" id="form_footer_{$pageid}" data-makeup="pretty-login" {$form_footer} data-pageid="{$pageid}" >
						<tbody>
			
								<tr {$row_footer_0} >
									<td 
	class="			"
			 
	data-cellId="footer_c1" data-pageid="{$pageid}">
 
<span data-itemtype="register_save" data-itemid="register_save" {$item_register_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$submit_attrs} >
							Register			</a>
</span>
 
<span data-itemtype="back_to_login" data-itemid="back_to_login" {$item_back_to_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-link   
	" href="login.php" {$backlink_attrs} >
							Back to login page			</a>
</span>
</td>
									<td 
	class="r-align-right r-ori-vert			"
			 
	data-cellId="footer_c2" data-pageid="{$pageid}">
 
<span data-itemtype="register_reset" data-itemid="register_reset" {$item_register_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
</td>
							</tr>
					
					</tbody>
				</table>
{END footer_block}
											</div>
			</div>
			<div class="r-sideimage">
							<div class="r-image"  >
					<img data-itemtype="page_image" data-itemid="page_image_ash8f23hr" {$item_page_image_ash8f23hr} data-pageid="{$pageid}" data-page=".global_register" src="images/clipart/drawing/rocket-in-space-publicdomainvectors.org.png" />
				</div>
						</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
