    div[data-itemid^=logo] {
        height: 50px;
        background-color: #eee !important;
        border-top-color: #eee !important;
    }
    
    div[data-itemid=expand_button] {
        background-color: #eee !important;
        border-bottom-color: #eee !important;
        border-top-color: #eee !important;
    }
    
    [data-itemid=loginform_login]>.btn-primary {
        background-color: #eee !important;
    }
    
    [data-itemid=simple_search] .form-control {
        background-color: #d2d6de !important;
        color: black !important;
    }
    
    [data-itemid=simple_search] .form-control::placeholder {
        color: black !important;
    }
    
    [data-itemid=result-mess] {
        background-color: #0b0f10;
        color: #b8c7ce;
    }
    
    .navbar-default {
        background-color: #f4f4f4 !important;
        background-image: none !important;
    }
    
    .r-vbar-page1 {
        background-color: #222d32 !important;
    }
    
    .r-left {
        background-color: #222d32 !important;
    }
    
    .r-vbar-page .r-left .nav a {
        color: #b8c7ce !important;
    }
    
    .r-vbar-page .r-left .nav a:hover {
        color: #fff !important;
        background-color: #1e282c !important;
    }
    
    .r-vbar-page .r-left .nav li.active.active.active>a {
        color: #fff !important;
        background-color: #0b0f10 !important;
    }
    
    .btn-primary {
        background-image: none !important;
        background-color: #d2d6de !important;
        border-color: #d2d6de !important;
        color: #333 !important;
    }
    
    .alert-warning {
        background-color: white;
        border-color: #eee;
        color: #f4f4f4;
        margin-bottom: 0px;
    }
    
    .dropdown-menu>li>a:hover,
    .dropdown-menu>li>a:focus {
        text-decoration: none !important;
        color: #333 !important;
        background-color: #f4f4f4;
    }
    
    #span_alert_notify,
    #span_skins {
        color: 333;
        padding-top: 10px;
        padding-right: 10px;
    }
    
    #span_skins {
        padding-right: 5px !important;
    }
    
    .panel-heading {
        background-color: #f4f4f4 !important;
    }
    
    .panel .panel-heading {
        background-color: #fff !important;
        color: #444;
        border-top: 3px solid #f4f4f4;
    }
    
    .breadcrumb {
        background-color: #ecf0f5 !important;
    }
    
    .btn .caret,
    .caret {
        color: #333;
        border-top-color: #333 !important;
    }
    
    .caret,
    .glyphicon-menu-hamburger,
    .glyphicon-cog {
        color: #333;
    }
    
    .r-vbar-page .r-content-col .r-topheader:not([data-fixed])>.navbar {
        border-color: white;
    }
    
    .top_username {
        color: #333;
        padding-top: 7px;
        font-weight: bold;
    }
    
    #logotext {
        color: #333;
    }
    
    .r-grid,
    [data-itemid="master_info"] {
        border-top: 3px solid #d2d6de;
    }
    
    .panel-primary>.panel-heading {
        border-color: #eee !important;
    }
    
    [data-itemid="Subscribe_on_Category_button"] .btn {
        border: 1px solid #3c3f40 !important;
    }