div[data-itemid^=logo] {
    height: 50px;
    background-color: #008d4c !important;
    border-bottom-color: #008d4c !important;
    border-top-color: #008d4c !important;
}

div[data-itemid=expand_button] {
    background-color: #008d4c !important;
    border-bottom-color: #0b0f10 !important;
    border-top-color: #008d4c !important;
}

span.glyphicon-triangle-right,
a.glyphicon-triangle-left {
    color: white !important;
}

[data-itemid=loginform_login]>.btn-primary {
    background-color: #008d4c !important;
}

[data-itemid=simple_search] .form-control {
    background-color: #f4f4f5 !important;
    color: black !important;
}

[data-itemid=simple_search] .form-control::placeholder {
    color: black !important;
}

[data-itemid=result-mess] {
    background-color: #f4f4f5;
    color: #444;
}

.navbar-default {
    background-color: #00a65a !important;
    background-image: none !important;
}

.r-vbar-page1 {
    background-color: #f9fafc !important;
}

.r-left {
    background-color: #f9fafc !important;
}

.r-vbar-page .r-left .nav a {
    color: #444 !important;
}

.r-vbar-page .r-left .nav a:hover {
    color: #000 !important;
    background-color: #f4f4f5 !important;
}

.r-vbar-page .r-left .nav li.active.active.active>a {
    color: #000 !important;
    background-color: #f4f4f5 !important;
}

.btn-primary {
    background-image: none !important;
    background-color: #00a65a !important;
    border-color: #00a65a !important;
    color: white !important;
}

.r-grid,
[data-itemid="master_info"] {
    background-color: white;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #00a65a;
}

.alert-warning {
    background-color: white;
    border-color: #008d4c;
    color: #00a65a;
    margin-bottom: 0px;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    text-decoration: none !important;
    color: #fff !important;
    background-color: #00a65a;
}

#span_alert_notify,
#span_skins {
    color: white;
    padding-top: 10px;
    padding-right: 10px;
}

#span_skins {
    padding-right: 5px !important;
}

.panel-heading {
    background-color: #00a65a !important;
}

.panel .panel-heading {
    background-color: #fff !important;
    color: #444;
    border-top: 3px solid #00a65a;
}

.btn .caret {
    color: white;
    border-top-color: white !important;
}

.caret,
.glyphicon-menu-hamburger,
.glyphicon-cog {
    color: white;
}

.r-vbar-page .r-content-col .r-topheader:not([data-fixed])>.navbar {
    border-color: #00a65a;
    ;
}

.top_username {
    color: white;
    font-weight: bold;
}

#logotext {
    color: white;
}

.panel-primary>.panel-heading {
    border-color: #00a65a !important;
}

[data-itemid="Subscribe_on_Category_button"] .btn {
    border: 1px solid white !important;
    color: #b8c7ce !important;
}

.r-menu-title {
    color: white;
}