<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-view" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel calcalendar view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
	ocolspan="2"		data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Subject_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Subject}  r-vertical-field" data-fieldname="Subject" data-signal-error-for="Subject{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Subject" data-fieldname="Subject" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Subject}">
		
		{BEGIN Subject_label}{$label calcalendar Subject }{END Subject_label}
	</label>
	<div class="" >
		{$Subject_value}	</div>

		</div>
		
</div>


{END Subject_fieldblock}
											
{BEGIN Category_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Category}  r-vertical-field" data-fieldname="Category" data-signal-error-for="Category{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Category" data-fieldname="Category" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Category}">
		
		{BEGIN Category_label}{$label calcalendar Category }{END Category_label}
	</label>
	<div class="" >
		{$Category_value}	</div>

		</div>
		
</div>


{END Category_fieldblock}
											
{BEGIN Description_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Description}  r-vertical-field" data-fieldname="Description" data-signal-error-for="Description{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Description" data-fieldname="Description" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Description}">
		
		{BEGIN Description_label}{$label calcalendar Description }{END Description_label}
	</label>
	<div class="" >
		{$Description_value}	</div>

		</div>
		
</div>


{END Description_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
	 
	 
														<tr {$row_grid_1} >
										

{BEGIN cellblock_grid_c3020}
<td
	{$cell_grid_c3020}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3020" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN DateField_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DateField}  r-vertical-field" data-fieldname="DateField" data-signal-error-for="DateField{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="DateField" data-fieldname="DateField" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DateField}">
		
		{BEGIN DateField_label}{$label calcalendar DateField }{END DateField_label}
	</label>
	<div class="" >
		{$DateField_value}	</div>

		</div>
		
</div>


{END DateField_fieldblock}
	
								</td>
			{END cellblock_grid_c3020}
			 
																

{BEGIN cellblock_grid_c30211}
<td
	{$cell_grid_c30211}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c30211" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN TimeField_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TimeField}  r-vertical-field" data-fieldname="TimeField" data-signal-error-for="TimeField{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="TimeField" data-fieldname="TimeField" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_TimeField}">
		
		{BEGIN TimeField_label}{$label calcalendar TimeField }{END TimeField_label}
	</label>
	<div class="" >
		{$TimeField_value}	</div>

		</div>
		
</div>


{END TimeField_fieldblock}
	
								</td>
			{END cellblock_grid_c30211}
								</tr>
	 
	 
														<tr {$row_grid_2} >
										

{BEGIN cellblock_grid_c302}
<td
	{$cell_grid_c302}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c302" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN EndDate_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_EndDate}  r-vertical-field" data-fieldname="EndDate" data-signal-error-for="EndDate{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="EndDate" data-fieldname="EndDate" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_EndDate}">
		
		{BEGIN EndDate_label}{$label calcalendar EndDate }{END EndDate_label}
	</label>
	<div class="" >
		{$EndDate_value}	</div>

		</div>
		
</div>


{END EndDate_fieldblock}
	
								</td>
			{END cellblock_grid_c302}
			 
																

{BEGIN cellblock_grid_c3021}
<td
	{$cell_grid_c3021}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3021" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN EndTime_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_EndTime}  r-vertical-field" data-fieldname="EndTime" data-signal-error-for="EndTime{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="EndTime" data-fieldname="EndTime" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_EndTime}">
		
		{BEGIN EndTime_label}{$label calcalendar EndTime }{END EndTime_label}
	</label>
	<div class="" >
		{$EndTime_value}	</div>

		</div>
		
</div>


{END EndTime_fieldblock}
	
								</td>
			{END cellblock_grid_c3021}
								</tr>
	 
	 
														<tr {$row_grid_3} >
										

{BEGIN cellblock_grid_c301}
<td
	{$cell_grid_c301}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c301" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN DayEvent_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DayEvent}  r-vertical-field" data-fieldname="DayEvent" data-signal-error-for="DayEvent{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="DayEvent" data-fieldname="DayEvent" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_DayEvent}">
		
		{BEGIN DayEvent_label}{$label calcalendar DayEvent }{END DayEvent_label}
	</label>
	<div class="" >
		{$DayEvent_value}	</div>

		</div>
		
</div>


{END DayEvent_fieldblock}
	
								</td>
			{END cellblock_grid_c301}
			 
																

{BEGIN cellblock_grid_c3011}
<td
	{$cell_grid_c3011}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3011" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Recurrence_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Recurrence}  r-vertical-field" data-fieldname="Recurrence" data-signal-error-for="Recurrence{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="Recurrence" data-fieldname="Recurrence" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Recurrence}">
		
		{BEGIN Recurrence_label}{$label calcalendar Recurrence }{END Recurrence_label}
	</label>
	<div class="" >
		{$Recurrence_value}	</div>

		</div>
		
</div>


{END Recurrence_fieldblock}
	
								</td>
			{END cellblock_grid_c3011}
								</tr>
	 
	 
														<tr {$row_grid_4} >
										

{BEGIN cellblock_grid_c3015}
<td
	{$cell_grid_c3015}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3015" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN Period_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Period}  r-vertical-field" data-fieldname="Period" data-signal-error-for="Period{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Period" data-fieldname="Period" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Period}">
		
		{BEGIN Period_label}{$label calcalendar Period }{END Period_label}
	</label>
	<div class="" >
		{$Period_value}	</div>

		</div>
		
</div>


{END Period_fieldblock}
	
								</td>
			{END cellblock_grid_c3015}
			 
																

{BEGIN cellblock_grid_c3016}
<td
	{$cell_grid_c3016}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3016" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PeriodDays_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PeriodDays}  r-vertical-field" data-fieldname="PeriodDays" data-signal-error-for="PeriodDays{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="PeriodDays" data-fieldname="PeriodDays" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_PeriodDays}">
		
		{BEGIN PeriodDays_label}{$label calcalendar PeriodDays }{END PeriodDays_label}
	</label>
	<div class="" >
		{$PeriodDays_value}	</div>

		</div>
		
</div>


{END PeriodDays_fieldblock}
	
								</td>
			{END cellblock_grid_c3016}
								</tr>
	 
	 
														<tr {$row_grid_5} >
										

{BEGIN cellblock_grid_c3013}
<td
	{$cell_grid_c3013}
	class=""
	
			
			data-cellId="grid_c3013" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN RecurType_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RecurType}  r-vertical-field" data-fieldname="RecurType" data-signal-error-for="RecurType{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="RecurType" data-fieldname="RecurType" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RecurType}">
		
		{BEGIN RecurType_label}{$label calcalendar RecurType }{END RecurType_label}
	</label>
	<div class="" >
		{$RecurType_value}	</div>

		</div>
		
</div>


{END RecurType_fieldblock}
											
{BEGIN Color_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Color}  r-vertical-field" data-fieldname="Color" data-signal-error-for="Color{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Color" data-fieldname="Color" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_Color}">
		
		{BEGIN Color_label}{$label calcalendar Color }{END Color_label}
	</label>
	<div class="" >
		{$Color_value}	</div>

		</div>
		
</div>


{END Color_fieldblock}
	
								</td>
			{END cellblock_grid_c3013}
			 
																

{BEGIN cellblock_grid_c3014}
<td
	{$cell_grid_c3014}
	class=""
	
			
			data-cellId="grid_c3014" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN RecurAfterValue_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RecurAfterValue}  r-vertical-field" data-fieldname="RecurAfterValue" data-signal-error-for="RecurAfterValue{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="RecurAfterValue" data-fieldname="RecurAfterValue" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RecurAfterValue}">
		
		{BEGIN RecurAfterValue_label}{$label calcalendar RecurAfterValue }{END RecurAfterValue_label}
	</label>
	<div class="" >
		{$RecurAfterValue_value}	</div>

		</div>
		
</div>


{END RecurAfterValue_fieldblock}
											
{BEGIN RecurOnValue_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_RecurOnValue}  r-vertical-field" data-fieldname="RecurOnValue" data-signal-error-for="RecurOnValue{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="RecurOnValue" data-fieldname="RecurOnValue" data-compact >

		<div class="col-md-12">
	
	<label class="" for="{$labelfor_RecurOnValue}">
		
		{BEGIN RecurOnValue_label}{$label calcalendar RecurOnValue }{END RecurOnValue_label}
	</label>
	<div class="" >
		{$RecurOnValue_value}	</div>

		</div>
		
</div>


{END RecurOnValue_fieldblock}
	
								</td>
			{END cellblock_grid_c3014}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="custom_button" data-itemid="edit_button" {$item_edit_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Edit_Button" href="javascript:void(0)" typeid="ib" >
							Edit			</a>
</span>
	 
		<span data-itemtype="custom_button" data-itemid="delete_button" {$item_delete_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="Delete_from_view" href="javascript:void(0)" typeid="ib" >
							Delete			</a>
</span>
	</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c" data-pageid="{$pageid}"	{$cell_below-grid_c}
	class=" r-ori-vert			col-md-6
	">
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right r-ori-vert			col-md-6
	">
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
