<style>
[data-field="timeperiod"]{
	width:140px!important;
}
#value_timeperiod_1{
    margin-left: 75px!important;
}
.online{
	background-color: LimeGreen;
}
	
.offline{
    background-color: #3f0e40;
		border:1px solid white;
}
.offline2{
    background-color: red;
		border:1px solid white;
}
.ind_state{
	width: 20px;
	height: 20px;
	position: relative;
	border-radius: 50%;
  top: 1px;
  left: 15px;
}
</style>