[data-cellid="grid_c1"][data-page=".global_menu"][data-cellid="grid_c1"][data-page=".global_menu"][data-cellid="grid_c1"][data-page=".global_menu"] {
  background-color: transparent;
  page-break-before: always;
}
[data-cellid="grid_c"][data-page=".global_menu"][data-cellid="grid_c"][data-page=".global_menu"][data-cellid="grid_c"][data-page=".global_menu"] {
  background-color: transparent;
}
[data-cellid="grid_c8"][data-page=".global_menu"][data-cellid="grid_c8"][data-page=".global_menu"][data-cellid="grid_c8"][data-page=".global_menu"] {
  page-break-after: always;
}
[data-cellid="grid_c10"][data-page=".global_menu"][data-cellid="grid_c10"][data-page=".global_menu"][data-cellid="grid_c10"][data-page=".global_menu"] {
  background-color: transparent;
}
[data-cellid="grid_c17"][data-page=".global_menu"][data-cellid="grid_c17"][data-page=".global_menu"][data-cellid="grid_c17"][data-page=".global_menu"] {
  page-break-after: always;
}
[data-cellid="grid_c3"][data-page=".global_menu"][data-cellid="grid_c3"][data-page=".global_menu"][data-cellid="grid_c3"][data-page=".global_menu"] {
  page-break-after: always;
}
[data-cellid="grid_c4"][data-page=".global_menu"][data-cellid="grid_c4"][data-page=".global_menu"][data-cellid="grid_c4"][data-page=".global_menu"] {
  background-color: transparent;
  page-break-before: always;
}
[data-cellid="grid_c22"][data-page=".global_menu"][data-cellid="grid_c22"][data-page=".global_menu"][data-cellid="grid_c22"][data-page=".global_menu"] {
  background-color: transparent;
  page-break-before: always;
}
[data-cellid="grid_c27"][data-page=".global_menu"][data-cellid="grid_c27"][data-page=".global_menu"][data-cellid="grid_c27"][data-page=".global_menu"] {
  background-color: transparent;
}
[data-cellid="grid_c25"][data-page=".global_menu"][data-cellid="grid_c25"][data-page=".global_menu"][data-cellid="grid_c25"][data-page=".global_menu"] {
  background-color: transparent;
  page-break-before: always;
}
[data-cellid="grid_c5"][data-page=".global_menu"][data-cellid="grid_c5"][data-page=".global_menu"][data-cellid="grid_c5"][data-page=".global_menu"] {
  background-color: transparent;
}
[data-cellid="grid_c6"][data-page=".global_menu"][data-cellid="grid_c6"][data-page=".global_menu"][data-cellid="grid_c6"][data-page=".global_menu"] {
  background-color: transparent;
}
[data-cellid="grid_c14"][data-page=".global_menu"][data-cellid="grid_c14"][data-page=".global_menu"][data-cellid="grid_c14"][data-page=".global_menu"] {
  background-color: transparent;
}
[data-cellid="grid_c26"][data-page=".global_menu"][data-cellid="grid_c26"][data-page=".global_menu"][data-cellid="grid_c26"][data-page=".global_menu"] {
  background-color: transparent;
  page-break-before: always;
}
[data-cellid="grid_c15"][data-page=".global_menu"][data-cellid="grid_c15"][data-page=".global_menu"][data-cellid="grid_c15"][data-page=".global_menu"] {
  background-color: transparent;
  page-break-before: always;
}
[data-cellid="grid_c20"][data-page=".global_menu"][data-cellid="grid_c20"][data-page=".global_menu"][data-cellid="grid_c20"][data-page=".global_menu"] {
  page-break-after: always;
}
[data-page=".global_menu"][data-itemid="image"] {
  width: 47px;
  height: 47px;
}
[data-page=".global_menu"][data-itemid="welcome_group1"] {
  background-color: transparent;
}
[data-page=".global_menu"][data-itemid="welcome_item"] > .bs-welcome-header {
  background-color: #D2AF80;
}
[data-page=".global_menu"][data-itemid="welcome_item1"] > .bs-welcome-header {
  background-color: #E67349;
}
[data-page=".global_menu"][data-itemid="welcome_item2"] > .bs-welcome-header {
  background-color: #4169E1;
}
[data-page=".global_menu"][data-itemid="welcome_item5"] > .bs-welcome-header {
  background-color: #7B68EE;
}
[data-page=".global_menu"][data-itemid="welcome_item3"] > .bs-welcome-header {
  background-color: #D2AF80;
}
[data-page=".global_menu"][data-itemid="welcome_item52"] > .bs-welcome-header {
  background-color: #6DA5C8;
}
[data-page=".global_menu"][data-itemid="welcome_item38"] > .bs-welcome-header {
  background-color: #BC8F8F;
}
[data-page=".global_menu"][data-itemid="welcome_item39"] > .bs-welcome-header {
  background-color: #B22222;
}
[data-page=".global_menu"][data-itemid="welcome_item40"] > .bs-welcome-header {
  background-color: #D2AF80;
}
[data-page=".global_menu"][data-itemid="welcome_item41"] > .bs-welcome-header {
  background-color: #BC8F8F;
}
[data-page=".global_menu"][data-itemid="welcome_item42"] > .bs-welcome-header {
  background-color: #6DA5C8;
}
[data-page=".global_menu"][data-itemid="welcome_item17"] > .bs-welcome-header {
  background-color: #5F9EA0;
}
[data-page=".global_menu"][data-itemid="welcome_item13"] > .bs-welcome-header {
  background-color: #5F9EA0;
}
[data-page=".global_menu"][data-itemid="welcome_item14"] > .bs-welcome-header {
  background-color: #E07878;
}
[data-page=".global_menu"][data-itemid="welcome_item15"] > .bs-welcome-header {
  background-color: #B22222;
}
[data-page=".global_menu"][data-itemid="welcome_item16"] > .bs-welcome-header {
  background-color: #E07878;
}
[data-page=".global_menu"][data-itemid="welcome_item26"] > .bs-welcome-header {
  background-color: #2F4F4F;
}
[data-page=".global_menu"][data-itemid="welcome_item36"] > .bs-welcome-header {
  background-color: #6DA5C8;
}
[data-page=".global_menu"][data-itemid="welcome_item18"] > .bs-welcome-header {
  background-color: #BC8F8F;
}
[data-page=".global_menu"][data-itemid="welcome_item35"] > .bs-welcome-header {
  background-color: #4169E1;
}
[data-page=".global_menu"][data-itemid="welcome_item50"] > .bs-welcome-header {
  background-color: #8FBC8B;
}
[data-page=".global_menu"][data-itemid="welcome_item51"] > .bs-welcome-header {
  background-color: #DC143C;
}
[data-page=".global_menu"][data-itemid="welcome_item7"] > .bs-welcome-header {
  background-color: #00C2C5;
}
[data-page=".global_menu"][data-itemid="welcome_item37"] > .bs-welcome-header {
  background-color: #CD853F;
}
[data-page=".global_menu"][data-itemid="welcome_item33"] > .bs-welcome-header {
  background-color: #DAA520;
}
[data-page=".global_menu"][data-itemid="welcome_item29"] > .bs-welcome-header {
  background-color: #B22222;
}
[data-page=".global_menu"][data-itemid="welcome_item34"] > .bs-welcome-header {
  background-color: #EDCA00;
}
[data-page=".global_menu"][data-itemid="welcome_item31"] > .bs-welcome-header {
  background-color: #BC8F8F;
}
[data-page=".global_menu"][data-itemid="welcome_item20"] > .bs-welcome-header {
  background-color: #D2AF80;
}
[data-page=".global_menu"][data-itemid="welcome_item6"] > .bs-welcome-header {
  background-color: #DAA520;
}
[data-page=".global_menu"][data-itemid="welcome_item19"] > .bs-welcome-header {
  background-color: #EDCA00;
}
[data-page=".global_menu"][data-itemid="welcome_item22"] > .bs-welcome-header {
  background-color: #DC143C;
}
[data-page=".global_menu"][data-itemid="welcome_item21"] > .bs-welcome-header {
  background-color: #4682B4;
}
[data-page=".global_menu"][data-itemid="welcome_item23"] > .bs-welcome-header {
  background-color: #DB7093;
}
[data-page=".global_menu"][data-itemid="welcome_item24"] > .bs-welcome-header {
  background-color: #E67349;
}
[data-page=".global_menu"][data-itemid="welcome_item25"] > .bs-welcome-header {
  background-color: #D2691E;
}
[data-page=".global_menu"][data-itemid="welcome_item27"] > .bs-welcome-header {
  background-color: #EDCA00;
}
[data-page=".global_menu"][data-itemid="welcome_item28"] > .bs-welcome-header {
  background-color: #E07878;
}
[data-page=".global_menu"][data-itemid="welcome_item32"] > .bs-welcome-header {
  background-color: #6B8E23;
}
[data-page=".global_menu"][data-itemid="welcome_item30"] > .bs-welcome-header {
  background-color: #2F4F4F;
}
[data-page=".global_menu"][data-itemid="welcome_item10"] > .bs-welcome-header {
  background-color: #6493EA;
}
[data-page=".global_menu"][data-itemid="welcome_item11"] > .bs-welcome-header {
  background-color: #2F4F4F;
}
[data-page=".global_menu"][data-itemid="welcome_item12"] > .bs-welcome-header {
  background-color: #B22222;
}
[data-page=".global_menu"][data-itemid="welcome_item4"] > .bs-welcome-header {
  background-color: #00C2C5;
}
[data-page=".global_menu"][data-itemid="welcome_item8"] > .bs-welcome-header {
  background-color: #EDCA00;
}
[data-page=".global_menu"][data-itemid="welcome_item9"] > .bs-welcome-header {
  background-color: #E67349;
}
[data-page=".global_menu"][data-itemid="welcome_item44"] > .bs-welcome-header {
  background-color: #DAA520;
}
[data-page=".global_menu"][data-itemid="welcome_item45"] > .bs-welcome-header {
  background-color: #6493EA;
}
[data-page=".global_menu"][data-itemid="welcome_item46"] > .bs-welcome-header {
  background-color: #008B8B;
}
[data-page=".global_menu"][data-itemid="welcome_item47"] > .bs-welcome-header {
  background-color: #E8926F;
}
[data-page=".global_menu"][data-itemid="welcome_item48"] > .bs-welcome-header {
  background-color: #5F9EA0;
}
[data-page=".global_menu"][data-itemid="welcome_item49"] > .bs-welcome-header {
  background-color: #3CB371;
}
[data-page=".global_menu"][data-itemid="menu"] > .nav {
  background-color: #f7f7f7;
}
[data-page=".global_menu"][data-itemid="menu"] > .nav > * > a {
  color: #700000;
  font-weight: bold;
}
[data-page=".global_menu"][data-itemid="username_button"] > .btn {
  font-weight: bold;
}
[data-page=".global_menu"][data-itemid="loginform_login"] > .btn {
  text-shadow: none;
  color: #ffffff;
  font-weight: bold;
}
[data-page=".global_menu"][data-itemid="welcome_item53"] > .bs-welcome-header {
  background-color: #4682B4;
}
[data-page=".global_menu"][data-itemid="welcome_item54"] > .bs-welcome-header {
  background-color: #4682B4;
}
[data-page=".global_menu"][data-itemid="welcome_group2"] {
  font-weight: bold;
}
[data-page=".global_menu"][data-itemid="welcome_item55"] > .bs-welcome-header {
  background-color: #6493EA;
}
[data-page=".global_menu"][data-itemid="welcome_item56"] > .bs-welcome-header {
  background-color: #EDCA00;
}
[data-page=".global_menu"][data-itemid="welcome_item57"] > .bs-welcome-header {
  background-color: #DB7093;
}
[data-page=".global_menu"][data-itemid="welcome_item59"] > .bs-welcome-header {
  background-color: #008B8B;
}
[data-page=".global_menu"][data-itemid="welcome_item60"] > .bs-welcome-header {
  background-color: #6493EA;
}
[data-page=".global_menu"][data-itemid="welcome_item61"] > .bs-welcome-header {
  background-color: #8FBC8B;
}
[data-page=".global_menu"][data-itemid="welcome_item62"] > .bs-welcome-header {
  background-color: #3CB371;
}
[data-page=".global_menu"][data-itemid="welcome_item63"] > .bs-welcome-header {
  background-color: #CD5C5C;
}
[data-page=".global_menu"][data-itemid="welcome_item58"] > .bs-welcome-header {
  background-color: #ffac00;
}
[data-page=".global_menu"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


