[data-page=".global_register"][data-itemid="text"] {
  color: #ff0007;
  font-weight: bold;
  font-size: 30px;
}
[data-page=".global_register"][data-itemid="text1"] {
  color: #a7a7a7;
}
[data-page=".global_register"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


