[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item1"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item2"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item3"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item3"] > .panel,
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item3"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item6"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item4"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item4"] > .panel,
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item4"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item5"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item7"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item8"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item9"] {
  height: 500px;
}
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item9"] > .panel,
[data-page="aio_reporting_dashboard_dashboard"][data-itemid="dashboard-item9"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}


