[data-cellid="grid_footcell_field"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field1"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field1"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field2"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field2"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field3"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field3"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field4"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field4"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field5"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field5"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field6"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field6"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field7"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field7"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field8"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field8"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field8"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field9"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field9"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field9"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field10"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field10"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field10"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field11"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field11"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field11"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field12"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field12"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field12"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field13"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field13"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field13"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field14"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field14"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field14"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field15"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field15"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field15"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field16"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field16"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field16"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field17"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field17"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field17"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field18"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field18"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field18"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field19"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field19"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field19"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field20"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field20"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field20"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field21"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field21"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field21"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field22"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field22"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field22"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field23"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field23"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field23"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field24"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field24"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field24"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field25"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field25"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field25"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field26"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field26"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field26"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field27"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field27"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field27"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field28"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field28"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field28"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field29"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field29"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field29"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field30"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field30"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field30"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field31"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field31"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field31"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field32"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field32"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field32"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field33"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field33"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field33"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field34"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field34"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field34"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field35"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field35"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field35"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field36"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field36"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field36"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field37"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field37"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field37"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field38"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field38"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field38"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field39"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field39"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field39"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field40"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field40"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field40"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field41"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field41"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field41"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field42"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field42"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field42"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field43"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field43"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field43"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field44"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field44"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field44"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field45"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field45"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field45"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field46"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field46"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field46"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field47"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field47"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field47"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field48"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field48"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field48"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field49"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field49"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field49"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field50"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field50"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field50"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field51"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field51"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field51"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field52"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field52"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field52"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field53"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field53"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field53"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field54"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field54"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field54"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field55"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field55"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field55"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field56"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field56"][data-page="candidates_view_masterreport"][data-cellid="grid_footcell_field56"][data-page="candidates_view_masterreport"] {
  white-space: nowrap;
}
[data-page="candidates_view_masterreport"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


