[data-cellid="grid_footcell_field"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field"][data-page="dashboards_AIO_Indicators_Aggregated"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field1"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field1"][data-page="dashboards_AIO_Indicators_Aggregated"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field2"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field2"][data-page="dashboards_AIO_Indicators_Aggregated"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field3"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field3"][data-page="dashboards_AIO_Indicators_Aggregated"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field4"][data-page="dashboards_AIO_Indicators_Aggregated"][data-cellid="grid_footcell_field4"][data-page="dashboards_AIO_Indicators_Aggregated"] {
  white-space: nowrap;
}
[data-page="dashboards_AIO_Indicators_Aggregated"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


