[data-cellid="grid_footcell_field"][data-page="database_backup_Main_Database_Backup"][data-cellid="grid_footcell_field"][data-page="database_backup_Main_Database_Backup"][data-cellid="grid_footcell_field"][data-page="database_backup_Main_Database_Backup"] {
  white-space: nowrap;
}
[data-page="database_backup_Main_Database_Backup"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


.alert {
    display: none;
}