[data-cellid="grid_footcell_field"][data-page="derejame_ugmembers_print"][data-cellid="grid_footcell_field"][data-page="derejame_ugmembers_print"][data-cellid="grid_footcell_field"][data-page="derejame_ugmembers_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="derejame_ugmembers_print"][data-cellid="grid_footcell_field1"][data-page="derejame_ugmembers_print"][data-cellid="grid_footcell_field1"][data-page="derejame_ugmembers_print"] {
  white-space: nowrap;
}


