[data-cellid="grid_footcell_field"][data-page="disability_types_print"][data-cellid="grid_footcell_field"][data-page="disability_types_print"][data-cellid="grid_footcell_field"][data-page="disability_types_print"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="disability_types_print"][data-cellid="grid_footcell_field1"][data-page="disability_types_print"][data-cellid="grid_footcell_field1"][data-page="disability_types_print"] {
  white-space: nowrap;
}


