[data-page="home_Home"][data-itemid="dashboard-item"] {
  height: 500px;
}
[data-page="home_Home"][data-itemid="dashboard-item"] > .panel,
[data-page="home_Home"][data-itemid="dashboard-item"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="home_Home"][data-itemid="dashboard-item1"] {
  height: 500px;
}
[data-page="home_Home"][data-itemid="dashboard-item1"] > .panel,
[data-page="home_Home"][data-itemid="dashboard-item1"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="home_Home"][data-itemid="dashboard-item2"] {
  height: 500px;
}
[data-page="home_Home"][data-itemid="dashboard-item2"] > .panel,
[data-page="home_Home"][data-itemid="dashboard-item2"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="home_Home"][data-itemid="dashboard-item3"] {
  height: 500px;
}
[data-page="home_Home"][data-itemid="dashboard-item3"] > .panel,
[data-page="home_Home"][data-itemid="dashboard-item3"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="home_Home"][data-itemid="dashboard-item4"] {
  height: 500px;
}
[data-page="home_Home"][data-itemid="dashboard-item4"] > .panel > .panel-heading,
[data-page="home_Home"][data-itemid="dashboard-item4"] > * > .tab-content > .tab-pane > .panel > .panel-heading {
  background-color: #FB7409;
  background-image: none;
}
[data-page="home_Home"][data-itemid="dashboard-item4"] > .panel,
[data-page="home_Home"][data-itemid="dashboard-item4"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="home_Home"][data-itemid="dashboard-item5"] {
  height: 500px;
}
[data-page="home_Home"][data-itemid="dashboard-item5"] > .panel,
[data-page="home_Home"][data-itemid="dashboard-item5"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="home_Home"][data-itemid="dashboard-item7"] {
  height: 500px;
}
[data-page="home_Home"][data-itemid="dashboard-item7"] > .panel,
[data-page="home_Home"][data-itemid="dashboard-item7"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="home_Home"][data-itemid="dashboard-item8"] {
  height: 500px;
}
[data-page="home_Home"][data-itemid="dashboard-item8"] > .panel,
[data-page="home_Home"][data-itemid="dashboard-item8"] > * > .tab-content > .tab-pane > .panel {
  border: none;
}
[data-page="home_Home"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


