[data-cellid="grid_headcell_checkbox"][data-page="utilities_Form_Submissions"][data-cellid="grid_headcell_checkbox"][data-page="utilities_Form_Submissions"][data-cellid="grid_headcell_checkbox"][data-page="utilities_Form_Submissions"] {
  width: 30px;
}
[data-page="utilities_Form_Submissions"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


