[data-cellid="grid_footcell_field"][data-page="utilities_Survey"][data-cellid="grid_footcell_field"][data-page="utilities_Survey"][data-cellid="grid_footcell_field"][data-page="utilities_Survey"] {
  white-space: nowrap;
}
[data-page="utilities_Survey"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


