[data-cellid="grid_footcell_field"][data-page="utilities_knowledge_base"][data-cellid="grid_footcell_field"][data-page="utilities_knowledge_base"][data-cellid="grid_footcell_field"][data-page="utilities_knowledge_base"] {
  white-space: nowrap;
}
[data-page="utilities_knowledge_base"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


