[data-cellid="grid_headcell_checkbox"][data-page="utilities_list"][data-cellid="grid_headcell_checkbox"][data-page="utilities_list"][data-cellid="grid_headcell_checkbox"][data-page="utilities_list"] {
  width: 30px;
}
[data-page="utilities_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


.alert {
    display: none;
}