[data-cellid="grid_footcell_field"][data-page="utilities_Project_Manager"][data-cellid="grid_footcell_field"][data-page="utilities_Project_Manager"][data-cellid="grid_footcell_field"][data-page="utilities_Project_Manager"] {
  white-space: nowrap;
}
[data-page="utilities_Project_Manager"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


