[data-cellid="grid_footcell_field"][data-page="utilities_Career_Compass_Submissions"][data-cellid="grid_footcell_field"][data-page="utilities_Career_Compass_Submissions"][data-cellid="grid_footcell_field"][data-page="utilities_Career_Compass_Submissions"] {
  white-space: nowrap;
}
[data-page="utilities_Career_Compass_Submissions"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


