[data-cellid="grid_headcell_checkbox"][data-page="utilities_merq_ai_data_assistant"][data-cellid="grid_headcell_checkbox"][data-page="utilities_merq_ai_data_assistant"][data-cellid="grid_headcell_checkbox"][data-page="utilities_merq_ai_data_assistant"] {
  width: 30px;
}
[data-page="utilities_merq_ai_data_assistant"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


.alert {
    display: none;
}