[data-cellid="grid_footcell_field"][data-page="utilities_document_manager"][data-cellid="grid_footcell_field"][data-page="utilities_document_manager"][data-cellid="grid_footcell_field"][data-page="utilities_document_manager"] {
  white-space: nowrap;
}
[data-page="utilities_document_manager"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


