[data-cellid="grid_headcell_checkbox"][data-page="utilities_Survey_Forms"][data-cellid="grid_headcell_checkbox"][data-page="utilities_Survey_Forms"][data-cellid="grid_headcell_checkbox"][data-page="utilities_Survey_Forms"] {
  width: 30px;
}
[data-page="utilities_Survey_Forms"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


