[data-cellid="grid_c3"][data-page="mtsettings_edit"][data-cellid="grid_c3"][data-page="mtsettings_edit"][data-cellid="grid_c3"][data-page="mtsettings_edit"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c"][data-page="mtsettings_edit"][data-cellid="grid_c"][data-page="mtsettings_edit"][data-cellid="grid_c"][data-page="mtsettings_edit"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c4"][data-page="mtsettings_edit"][data-cellid="grid_c4"][data-page="mtsettings_edit"][data-cellid="grid_c4"][data-page="mtsettings_edit"] {
  padding-top: 5px;
}
[data-cellid="grid_c5"][data-page="mtsettings_edit"][data-cellid="grid_c5"][data-page="mtsettings_edit"][data-cellid="grid_c5"][data-page="mtsettings_edit"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c1"][data-page="mtsettings_edit"][data-cellid="grid_c1"][data-page="mtsettings_edit"][data-cellid="grid_c1"][data-page="mtsettings_edit"] {
  padding-top: 5px;
}
[data-cellid="grid_c2"][data-page="mtsettings_edit"][data-cellid="grid_c2"][data-page="mtsettings_edit"][data-cellid="grid_c2"][data-page="mtsettings_edit"] {
  padding-top: 5px;
}
[data-cellid="grid_c7"][data-page="mtsettings_edit"][data-cellid="grid_c7"][data-page="mtsettings_edit"][data-cellid="grid_c7"][data-page="mtsettings_edit"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c8"][data-page="mtsettings_edit"][data-cellid="grid_c8"][data-page="mtsettings_edit"][data-cellid="grid_c8"][data-page="mtsettings_edit"] {
  padding-top: 15px;
}
[data-cellid="grid_c9"][data-page="mtsettings_edit"][data-cellid="grid_c9"][data-page="mtsettings_edit"][data-cellid="grid_c9"][data-page="mtsettings_edit"] {
  background-color: #f4f4f4;
}
[data-cellid="grid_c12"][data-page="mtsettings_edit"][data-cellid="grid_c12"][data-page="mtsettings_edit"][data-cellid="grid_c12"][data-page="mtsettings_edit"] {
  background-color: #f4f4f4;
}
[data-page="mtsettings_edit"][data-itemid="text"] {
  font-size: 20px;
}
[data-page="mtsettings_edit"][data-itemid="text2"] {
  font-size: 20px;
}
[data-page="mtsettings_edit"][data-itemid="text1"] {
  font-size: 20px;
}
[data-page="mtsettings_edit"][data-itemid="text3"] {
  font-size: 20px;
}
[data-page="mtsettings_edit"][data-itemid="text6"] {
  font-size: 20px;
}
[data-page="mtsettings_edit"][data-itemid="text7"] {
  font-size: 20px;
}
[data-page="mtsettings_edit"][data-itemid="text10"] {
  font-size: 20px;
}
[data-page="mtsettings_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_c5"][data-page="mtsettings_edit"][data-cellid="grid_c5"][data-page="mtsettings_edit"][data-cellid="grid_c5"][data-page="mtsettings_edit"] {
 
}
[data-page="mtsettings_edit"][data-itemid="text2"] {
   margin-left:15px !important;
}

/* Put  your custom CSS code here */

[data-page="mtsettings_edit"][data-itemid="text1"] {
   margin-left:15px !important;
}

/* Put  your custom CSS code here */

[data-page="mtsettings_edit"][data-itemid="integrated_edit_field6"] {
  width:550px !important;
}

[data-page="mtsettings_edit"][data-itemid="text4"] {
   margin-left:15px !important;
}

[data-page="mtsettings_edit"][data-itemid="image"] {
   margin-left:15px !important;
}

[data-page="mtsettings_edit"][data-itemid="text5"] {
   margin-left:15px !important;
}

[data-page="mtsettings_edit"][data-itemid="text6"] {
   margin-left:15px !important;
}

[data-page="mtsettings_edit"][data-itemid="text7"] {
   margin-left:15px !important;
}

[data-page="mtsettings_edit"][data-itemid="text8"] {
   margin-left:15px !important;
}
[data-page="mtsettings_edit"][data-itemid="text9"] {
   margin-left:15px !important;
}

[data-page="mtsettings_edit"][data-itemid="text10"] {
   margin-left:15px !important;
}

[data-page="mtsettings_edit"][data-itemid="text11"] {
   margin-left:15px !important;
}

