[data-page="hd_servers_edit"][data-itemid="integrated_edit_field3"][data-page="hd_servers_edit"][data-itemid="integrated_edit_field3"][data-page="hd_servers_edit"][data-itemid="integrated_edit_field3"][data-page="hd_servers_edit"][data-itemid="integrated_edit_field3"] {
  width: 100px;
}
[data-page="hd_servers_edit"][data-itemid="integrated_edit_field6"][data-page="hd_servers_edit"][data-itemid="integrated_edit_field6"][data-page="hd_servers_edit"][data-itemid="integrated_edit_field6"][data-page="hd_servers_edit"][data-itemid="integrated_edit_field6"] {
  width: 100px;
}
[data-page="hd_servers_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


