[data-cellid="grid_cell_field1"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_field1"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_field1"][data-page="hd_tickets_list_customer"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="hd_tickets_list_customer"][data-cellid="grid_footcell_field1"][data-page="hd_tickets_list_customer"][data-cellid="grid_footcell_field1"][data-page="hd_tickets_list_customer"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field2"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_field2"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_field2"][data-page="hd_tickets_list_customer"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="hd_tickets_list_customer"][data-cellid="grid_footcell_field2"][data-page="hd_tickets_list_customer"][data-cellid="grid_footcell_field2"][data-page="hd_tickets_list_customer"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox"][data-page="hd_tickets_list_customer"] {
  width: 30px;
}
[data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list_customer"] {
  width: 30px;
}
[data-cellid="grid_headcell_checkbox5"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox5"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox5"][data-page="hd_tickets_list_customer"] {
  width: 30px;
}
[data-cellid="grid_footcell_field"][data-page="hd_tickets_list_customer"][data-cellid="grid_footcell_field"][data-page="hd_tickets_list_customer"][data-cellid="grid_footcell_field"][data-page="hd_tickets_list_customer"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_icons"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_icons"][data-page="hd_tickets_list_customer"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_icons"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_icons"][data-page="hd_tickets_list_customer"] {
  white-space: nowrap;
}
[data-cellid="top_c2"][data-page="hd_tickets_list_customer"][data-cellid="top_c2"][data-page="hd_tickets_list_customer"][data-cellid="top_c2"][data-page="hd_tickets_list_customer"] {
  width: 100%;
}
[data-page="hd_tickets_list_customer"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c"][data-page="hd_tickets_list_customer"][data-cellid="above-grid_c"][data-page="hd_tickets_list_customer"][data-cellid="above-grid_c"][data-page="hd_tickets_list_customer"] {
 width:80%!important;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c3"][data-page="hd_tickets_list_customer"][data-cellid="above-grid_c3"][data-page="hd_tickets_list_customer"][data-cellid="above-grid_c3"][data-page="hd_tickets_list_customer"] {
  width:20% !important;
}

/* Put  your custom CSS code here */

[data-cellid="grid_cell_field1"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_field1"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_field1"][data-page="hd_tickets_list_customer"] {
  padding-left:6px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_cell_field2"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_field2"][data-page="hd_tickets_list_customer"][data-cellid="grid_cell_field2"][data-page="hd_tickets_list_customer"] {
  padding-left:6px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list_customer"] {
  width:30px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_headcell_checkbox5"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox5"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox5"][data-page="hd_tickets_list_customer"] {
  width:100px !important;
}

/* Put  your custom CSS code here */

[data-cellid="grid_headcell_checkbox6"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox6"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox6"][data-page="hd_tickets_list_customer"] {
  width:100px !important;
}

/* Put  your custom CSS code here */

[data-cellid="grid_headcell_checkbox7"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox7"][data-page="hd_tickets_list_customer"][data-cellid="grid_headcell_checkbox7"][data-page="hd_tickets_list_customer"] {
  width:100px !important;
}

