[data-cellid="grid_cell_field"][data-page="hd_tickets_list"][data-cellid="grid_cell_field"][data-page="hd_tickets_list"][data-cellid="grid_cell_field"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field1"][data-page="hd_tickets_list"][data-cellid="grid_cell_field1"][data-page="hd_tickets_list"][data-cellid="grid_cell_field1"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field1"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field1"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field2"][data-page="hd_tickets_list"][data-cellid="grid_cell_field2"][data-page="hd_tickets_list"][data-cellid="grid_cell_field2"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field2"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field2"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field4"][data-page="hd_tickets_list"][data-cellid="grid_cell_field4"][data-page="hd_tickets_list"][data-cellid="grid_cell_field4"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field4"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field4"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_field7"][data-page="hd_tickets_list"][data-cellid="grid_headcell_field7"][data-page="hd_tickets_list"][data-cellid="grid_headcell_field7"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_checkbox"][data-page="hd_tickets_list"][data-cellid="grid_headcell_checkbox"][data-page="hd_tickets_list"][data-cellid="grid_headcell_checkbox"][data-page="hd_tickets_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list"][data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list"][data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list"] {
  width: 30px;
}
[data-cellid="grid_headcell_field10"][data-page="hd_tickets_list"][data-cellid="grid_headcell_field10"][data-page="hd_tickets_list"][data-cellid="grid_headcell_field10"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field3"][data-page="hd_tickets_list"][data-cellid="grid_footcell_field3"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="grid_headcell_icons"][data-page="hd_tickets_list"][data-cellid="grid_headcell_icons"][data-page="hd_tickets_list"][data-cellid="grid_headcell_icons"][data-page="hd_tickets_list"] {
  width: 30px;
}
[data-cellid="grid_cell_icons"][data-page="hd_tickets_list"][data-cellid="grid_cell_icons"][data-page="hd_tickets_list"][data-cellid="grid_cell_icons"][data-page="hd_tickets_list"] {
  white-space: nowrap;
}
[data-cellid="top_c2"][data-page="hd_tickets_list"][data-cellid="top_c2"][data-page="hd_tickets_list"][data-cellid="top_c2"][data-page="hd_tickets_list"] {
  width: 100%;
}
[data-page="hd_tickets_list"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c"][data-page="hd_tickets_list"][data-cellid="above-grid_c"][data-page="hd_tickets_list"][data-cellid="above-grid_c"][data-page="hd_tickets_list"] {
 width:70%!important;
}

/* Put  your custom CSS code here */

[data-cellid="above-grid_c3"][data-page="hd_tickets_list"][data-cellid="above-grid_c3"][data-page="hd_tickets_list"][data-cellid="above-grid_c3"][data-page="hd_tickets_list"] {
  width:30% !important;
}

[data-cellid="grid_cell_field1"][data-page="hd_tickets_list"][data-cellid="grid_cell_field1"][data-page="hd_tickets_list"][data-cellid="grid_cell_field1"][data-page="hd_tickets_list"] {
  padding-left:6px;
}

[data-cellid="grid_cell_field2"][data-page="hd_tickets_list"][data-cellid="grid_cell_field2"][data-page="hd_tickets_list"][data-cellid="grid_cell_field2"][data-page="hd_tickets_list"] {
  padding-left:6px;
}

[data-cellid="grid_cell_field4"][data-page="hd_tickets_list"][data-cellid="grid_cell_field4"][data-page="hd_tickets_list"][data-cellid="grid_cell_field4"][data-page="hd_tickets_list"] {
  padding-left:6px;
}

[data-cellid="grid_headcell_field6"][data-page="hd_tickets_list"][data-cellid="grid_headcell_field6"][data-page="hd_tickets_list"][data-cellid="grid_headcell_field6"][data-page="hd_tickets_list"] {
  padding-left:6px;
}

/* Put  your custom CSS code here */

[data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list"][data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list"][data-cellid="grid_headcell_checkbox1"][data-page="hd_tickets_list"] {
  width:30px;
}
/* Put  your custom CSS code here */

[data-page="hd_tickets_list"][data-itemid="hd_tickets_context_menu"] {
  margin:0px;
}

/* Put  your custom CSS code here */

[data-page="hd_tickets_list"][data-itemid="pupup_menus"] {
  margin:0px;
}

