[data-cellid="footer_c"][data-page="response_export"][data-cellid="footer_c"][data-page="response_export"][data-cellid="footer_c"][data-page="response_export"] {
  width: 33.33333333%;
}
[data-cellid="footer_c3"][data-page="response_export"][data-cellid="footer_c3"][data-page="response_export"][data-cellid="footer_c3"][data-page="response_export"] {
  width: 66.66666667%;
}
[data-page="response_export"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


