<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-search" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel Add_folder search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id" data-fieldname="id" >


	<label class="r-search-label control-label" for="{$labelfor_id}">
		{$label Add_folder id }	</label>
	<div class="r-search-option">
		{$searchtype_id}
	</div>
	<div class="r-search-field">
		{$id_editcontrol}	</div>
	<div class="r-search-field">
		{$id_editcontrol1}
	</div>
	
</div>

{END id_fieldblock}
											
{BEGIN file_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_file}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="file{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="file" data-fieldname="file" >


	<label class="r-search-label control-label" for="{$labelfor_file}">
		{$label Add_folder file }	</label>
	<div class="r-search-option">
		{$searchtype_file}
	</div>
	<div class="r-search-field">
		{$file_editcontrol}	</div>
	<div class="r-search-field">
		{$file_editcontrol1}
	</div>
	
</div>

{END file_fieldblock}
											
{BEGIN description_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_description}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="description{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="description" data-fieldname="description" >


	<label class="r-search-label control-label" for="{$labelfor_description}">
		{$label Add_folder description }	</label>
	<div class="r-search-option">
		{$searchtype_description}
	</div>
	<div class="r-search-field">
		{$description_editcontrol}	</div>
	<div class="r-search-field">
		{$description_editcontrol1}
	</div>
	
</div>

{END description_fieldblock}
											
{BEGIN hash_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_hash}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="hash{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="hash" data-fieldname="hash" >


	<label class="r-search-label control-label" for="{$labelfor_hash}">
		{$label Add_folder hash }	</label>
	<div class="r-search-option">
		{$searchtype_hash}
	</div>
	<div class="r-search-field">
		{$hash_editcontrol}	</div>
	<div class="r-search-field">
		{$hash_editcontrol1}
	</div>
	
</div>

{END hash_fieldblock}
											
{BEGIN parent_folder_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_parent_folder_id}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="parent_folder_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="parent_folder_id" data-fieldname="parent_folder_id" >


	<label class="r-search-label control-label" for="{$labelfor_parent_folder_id}">
		{$label Add_folder parent_folder_id }	</label>
	<div class="r-search-option">
		{$searchtype_parent_folder_id}
	</div>
	<div class="r-search-field">
		{$parent_folder_id_editcontrol}	</div>
	<div class="r-search-field">
		{$parent_folder_id_editcontrol1}
	</div>
	
</div>

{END parent_folder_id_fieldblock}
											
{BEGIN ownerid_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ownerid}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="ownerid{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="ownerid" data-fieldname="ownerid" >


	<label class="r-search-label control-label" for="{$labelfor_ownerid}">
		{$label Add_folder ownerid }	</label>
	<div class="r-search-option">
		{$searchtype_ownerid}
	</div>
	<div class="r-search-field">
		{$ownerid_editcontrol}	</div>
	<div class="r-search-field">
		{$ownerid_editcontrol1}
	</div>
	
</div>

{END ownerid_fieldblock}
											
{BEGIN file_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_file_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="file_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="file_type" data-fieldname="file_type" >


	<label class="r-search-label control-label" for="{$labelfor_file_type}">
		{$label Add_folder file_type }	</label>
	<div class="r-search-option">
		{$searchtype_file_type}
	</div>
	<div class="r-search-field">
		{$file_type_editcontrol}	</div>
	<div class="r-search-field">
		{$file_type_editcontrol1}
	</div>
	
</div>

{END file_type_fieldblock}
											
{BEGIN name_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_name}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="name{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="name" data-fieldname="name" >


	<label class="r-search-label control-label" for="{$labelfor_name}">
		{$label Add_folder name }	</label>
	<div class="r-search-option">
		{$searchtype_name}
	</div>
	<div class="r-search-field">
		{$name_editcontrol}	</div>
	<div class="r-search-field">
		{$name_editcontrol1}
	</div>
	
</div>

{END name_fieldblock}
											
{BEGIN created_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_created}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="created{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="created" data-fieldname="created" >


	<label class="r-search-label control-label" for="{$labelfor_created}">
		{$label Add_folder created }	</label>
	<div class="r-search-option">
		{$searchtype_created}
	</div>
	<div class="r-search-field">
		{$created_editcontrol}	</div>
	<div class="r-search-field">
		{$created_editcontrol1}
	</div>
	
</div>

{END created_fieldblock}
											
{BEGIN share_ro_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_share_ro}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="share_ro{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="share_ro" data-fieldname="share_ro" >


	<label class="r-search-label control-label" for="{$labelfor_share_ro}">
		{$label Add_folder share_ro }	</label>
	<div class="r-search-option">
		{$searchtype_share_ro}
	</div>
	<div class="r-search-field">
		{$share_ro_editcontrol}	</div>
	<div class="r-search-field">
		{$share_ro_editcontrol1}
	</div>
	
</div>

{END share_ro_fieldblock}
											
{BEGIN share_type_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_share_type}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="share_type{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="share_type" data-fieldname="share_type" >


	<label class="r-search-label control-label" for="{$labelfor_share_type}">
		{$label Add_folder share_type }	</label>
	<div class="r-search-option">
		{$searchtype_share_type}
	</div>
	<div class="r-search-field">
		{$share_type_editcontrol}	</div>
	<div class="r-search-field">
		{$share_type_editcontrol1}
	</div>
	
</div>

{END share_type_fieldblock}
											
{BEGIN share_users_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_share_users}  r-horizontal-field form-horizontal" 	
	data-signal-error-for="share_users{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="share_users" data-fieldname="share_users" >


	<label class="r-search-label control-label" for="{$labelfor_share_users}">
		{$label Add_folder share_users }	</label>
	<div class="r-search-option">
		{$searchtype_share_users}
	</div>
	<div class="r-search-field">
		{$share_users_editcontrol}	</div>
	<div class="r-search-field">
		{$share_users_editcontrol1}
	</div>
	
</div>

{END share_users_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Search			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reset			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
