<div class="panel panel-primary">
		<div class="panel-heading">
						{BEGIN top_block}
<div class="panel-title r-panel-top row" data-location="top" id="form_top_{$pageid}" data-makeup="panel-only" {$form_top} data-pageid="{$pageid}" >		
	 
		 
			<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
			</div>			</div>		
{END top_block}
			</div>
		<div class="panel-body">
							{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="panel-only" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
								{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<table data-location="grid" id="form_grid_{$pageid}" data-makeup="panel-only" {$form_grid} data-pageid="{$pageid}" class=" table table-striped table-bordered r-horizontal-grid  rnr-b-grid rnr-gridtable"
	cellpadding="0"
	data-body-height="3"
>
						<thead>
			{BEGIN grid_header}
			
																																			<tr {$rowattrs} {$row_grid_0} class="{$rowclass}
									{$gridHeader_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="forumtopics_masterlist"	
	>

	
	</th>
	{END cellblock_grid_headcell_field}
							</tr>
																									
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
							
																																								<tr {$rowattrs} {$row_grid_1} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert		 {$topic2_class}	"

			data-field="topic2"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="forumtopics_masterlist"	
	>

	 
		{BEGIN topic2_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-page="forumtopics_masterlist" data-record-id="{$recId}" data-field="topic2" data-fieldname="topic2" data-default-width >
{$topic2_value}
</span>
{END topic2_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
									{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		r-align-right r-ori-vert		 {$created_class}	"

			data-field="created"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="forumtopics_masterlist"	
	>

	 
		{BEGIN created_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="created" data-fieldname="created" data-default-width >
{$created_value}
</span>
{END created_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
							</tr>
											<tr {$rowattrs} {$row_grid_2} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field11}
	<td
	
	{$cell_grid_cell_field11}
	{$recordattrs}
	class="
		 r-ori-vert		 {$categoryid_class}	"

			data-field="categoryid"
	
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN categoryid_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="categoryid" data-fieldname="categoryid" data-default-width >
{$categoryid_value}
</span>
{END categoryid_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field11}
							</tr>
											<tr {$rowattrs} {$row_grid_3} class="{$rowclass}
				
								r-gridrow
							">
									{BEGIN cellblock_grid_cell_field33}
	<td
	
	{$cell_grid_cell_field33}
	{$recordattrs}
	class="
				 {$startedby_class}	"

			data-field="startedby"
	
	data-cellId="grid_cell_field33" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="forumtopics_masterlist"	
	>

	 
		{BEGIN startedby_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="startedby" data-fieldname="startedby" data-default-width >
{$startedby_value}
</span>
{END startedby_fieldcolumn}	 
		{BEGIN startedby2_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-page="forumtopics_masterlist" data-record-id="{$recId}" data-field="startedby2" data-fieldname="startedby2" data-default-width >
{$startedby2_value}
</span>
{END startedby2_fieldcolumn}	 
		{BEGIN question_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-page="forumtopics_masterlist" data-record-id="{$recId}" data-field="question" data-fieldname="question" data-default-width >
{$question_value}
</span>
{END question_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field33}
									{BEGIN cellblock_grid_cell_field36}
	<td
	
	{$cell_grid_cell_field36}
	{$recordattrs}
	class="
					"

	
	data-cellId="grid_cell_field36" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		<span data-itemtype="snippet" data-itemid="snippet" {$item_snippet} data-pageid="{$pageid}" data-record-id="{$recId}" >
{$event Subscribe}
</span>	 
		<span data-itemtype="snippet" data-itemid="snippet1" {$item_snippet1} data-pageid="{$pageid}" data-record-id="{$recId}" >
{$event topic_subscribe}
</span>	
	</td>
	{END cellblock_grid_cell_field36}
							</tr>
										
											{END grid_row}
					</tbody>
													<tfoot>
			
																																																							<tr {$rowattrs} {$row_grid_4} class="{$rowclass}
									{$gridFooter_class}
					
								r-gridrow
							">
									{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="forumtopics_masterlist"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
								</div>
</div>
