<div style="color: #EE0000; font-weight: bold;  margin: 5px 0;  padding: 2px; text-align:left">Warning<br/>
READ THIS CAREFULLY BEFORE PROCEEDING</div>
<div style="margin: 5px 0;  padding: 2px; text-align:left; width:500px;white-nowrap:normal">	In an active survey, a table is created to store all the data-entry records.
	<p>When you deactivate a survey all the data entered in the original table will be moved elsewhere, and when you activate the survey again, the table will be empty. You will not be able to access this data any more.</p>
	<p>Deactivated survey data can only be accessed by system administrators using a Database data access tool like phpmyadmin. If your survey uses tokens, this table will also be renamed and will only be accessible by system administrators.</p>
	<p>Your responses table will be renamed to: <span class="archivename"></span></p>

	<p>Also you should export your responses before deactivating.</p>
</div>
