<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add" >
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="1"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c" data-pageid="{$pageid}"	{$cell_top_c}
	class=" r-ori-vert			col-md-12
	">
	 
		<span data-itemtype="snippet" data-itemid="snippet1" {$item_snippet1} data-pageid="{$pageid}" data-page="response_add" >
{$event sv_title}
</span>	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="1"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c" data-pageid="{$pageid}"	{$cell_above-grid_c}
	class=" r-ori-vert			col-md-12
	">
	 
		<span data-itemtype="snippet" data-itemid="snippet2" {$item_snippet2} data-pageid="{$pageid}" data-page="response_add" >
{$event survey_description}
</span>	</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class=" r-ori-vert			col-md-12
	">
	 
		<span data-itemtype="snippet" data-itemid="snippet3" {$item_snippet3} data-pageid="{$pageid}" data-page="response_add" >
{$event survey_welcome}
</span>	</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<span data-itemtype="snippet" data-itemid="total_questions" {$item_total_questions} data-pageid="{$pageid}" data-page="response_add" >
{$event total_questions}
</span>	</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c11" data-pageid="{$pageid}"	{$cell_above-grid_c11}
	class=" r-ori-vert			col-md-12
	">
	 
		<span data-itemtype="snippet" data-itemid="progressbar" {$item_progressbar} data-pageid="{$pageid}" >
{$event progreessbar}
</span>	</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c10" data-pageid="{$pageid}"	{$cell_above-grid_c10}
	class=" r-ori-vert			col-md-12
	">
	 
		<span data-itemtype="snippet" data-itemid="snippet6" {$item_snippet6} data-pageid="{$pageid}" >
{$event sv_message}
</span>	</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c9" data-pageid="{$pageid}"	{$cell_above-grid_c9}
	class=" r-ori-vert			col-md-12
	">
	 
		<span data-itemtype="snippet" data-itemid="end_message" {$item_end_message} data-pageid="{$pageid}" data-page="response_add" >
{$event survey_end}
</span>	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="1"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
				data-fullwidth
		
			data-cellId="grid_c" data-pageid="{$pageid}" data-page="response_add"
		data-v-cell="1"
		
>
	<div edit-form-cell class="clearfix">
				<span data-itemtype="snippet" data-itemid="questions_block" {$item_questions_block} data-pageid="{$pageid}" data-page="response_add" >
{$event response_survey}
</span>	
								</td>
			{END cellblock_grid_c}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="1"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c" data-pageid="{$pageid}"	{$cell_below-grid_c}
	class="			col-md-12
	">
	 
		<span data-itemtype="snippet" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" >
{$event prev}
</span>	 
		<span data-itemtype="snippet" data-itemid="finish_button" {$item_finish_button} data-pageid="{$pageid}" >
{$event next_submit}
</span>	 
		<span data-itemtype="snippet" data-itemid="save_for_later" {$item_save_for_later} data-pageid="{$pageid}" >
{$event Save_for_later}
</span>	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
