[data-page=".global_menu_Project"][data-itemid="welcome_item7"] > .bs-welcome-header {
  background-color: #2F4F4F;
}
[data-page=".global_menu_Project"][data-itemid="welcome_item8"] > .bs-welcome-header {
  background-color: #6DA5C8;
}
[data-page=".global_menu_Project"][data-itemid="welcome_item9"] > .bs-welcome-header {
  background-color: #6493EA;
}
[data-page=".global_menu_Project"][data-itemid="welcome_item10"] > .bs-welcome-header {
  background-color: #CD853F;
}
[data-page=".global_menu_Project"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


