[data-page="forumsettings_edit"][data-itemid="integrated_edit_field1"][data-page="forumsettings_edit"][data-itemid="integrated_edit_field1"][data-page="forumsettings_edit"][data-itemid="integrated_edit_field1"][data-page="forumsettings_edit"][data-itemid="integrated_edit_field1"] {
  width: 100px;
}
[data-page="forumsettings_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}

/* Put  your custom CSS code here */

[data-cellid="below-grid_c1"][data-page="forumsettings_edit"][data-cellid="below-grid_c1"][data-page="forumsettings_edit"][data-cellid="below-grid_c1"][data-page="forumsettings_edit"] {
margin-top:20px;
}

/* Put  your custom CSS code here */

[data-cellid="below-grid_c2"][data-page="forumsettings_edit"][data-cellid="below-grid_c2"][data-page="forumsettings_edit"][data-cellid="below-grid_c2"][data-page="forumsettings_edit"] {
margin-top:20px;
}
/* Put  your custom CSS code here */

[data-page="forumsettings_edit"][data-itemid="integrated_edit_field5"] {
  padding-top:0px !important;
}

