[data-cellid="grid_headcell_field"][data-page="forumtopics_view_masterlist"][data-cellid="grid_headcell_field"][data-page="forumtopics_view_masterlist"][data-cellid="grid_headcell_field"][data-page="forumtopics_view_masterlist"] {
  border-bottom: solid #ffffff 1px;
}
[data-cellid="grid_cell_field"][data-page="forumtopics_view_masterlist"][data-cellid="grid_cell_field"][data-page="forumtopics_view_masterlist"][data-cellid="grid_cell_field"][data-page="forumtopics_view_masterlist"] {
  border-bottom: solid #ffffff 1px;
  border-right: solid #ffffff 1px;
  border-top: solid #ffffff 1px;
}
[data-cellid="grid_footcell_field"][data-page="forumtopics_view_masterlist"][data-cellid="grid_footcell_field"][data-page="forumtopics_view_masterlist"][data-cellid="grid_footcell_field"][data-page="forumtopics_view_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_cell_field1"][data-page="forumtopics_view_masterlist"][data-cellid="grid_cell_field1"][data-page="forumtopics_view_masterlist"][data-cellid="grid_cell_field1"][data-page="forumtopics_view_masterlist"] {
  border-bottom: solid #ffffff 1px;
  border-top: solid #ffffff 1px;
}
[data-cellid="grid_cell_field33"][data-page="forumtopics_view_masterlist"][data-cellid="grid_cell_field33"][data-page="forumtopics_view_masterlist"][data-cellid="grid_cell_field33"][data-page="forumtopics_view_masterlist"] {
  border-bottom: solid #ffffff 1px;
}
[data-cellid="grid_cell_field34"][data-page="forumtopics_view_masterlist"][data-cellid="grid_cell_field34"][data-page="forumtopics_view_masterlist"][data-cellid="grid_cell_field34"][data-page="forumtopics_view_masterlist"] {
  border-bottom: solid #ffffff 1px;
}
[data-page="forumtopics_view_masterlist"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


