<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>
	<body class="{$stylename} function-menu" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		<div class="r-topbar-page">
			<div data-menu-width="full" 
				data-fixed 
				class="r-topheader" 
				data-resize-name="topbar"
				data-body-align="center"
			>
								{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="topbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-header" data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</span>
		 
				<span data-cellId="supertop_c1" data-pageid="{$pageid}" class="r-align-left navbar-collapse" data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main horizontal}			</span>
							 
													</nav>
{END supertop_block}
					{$locking}
			</div>	
			<div data-body-align="center"  data-body-width="standard" class="r-body" data-resize-top="topbar" >
				<div class="r-top">
										</div>
				<div class="r-content">
										<div class="r-data-block" data-body-width="standard" >
						
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="topbar" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
							
						<div class="r-grid">
										{BEGIN grid_block}
<table class="r-fluid r-form" data-location="grid" id="form_grid_{$pageid}" data-makeup="topbar" {$form_grid} data-pageid="{$pageid}" >
						<tbody>
			
								<tr>
									<td 
	class="			"
			 
	data-cellId="grid_c1" data-pageid="{$pageid}">
 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item3" {$item_welcome_item3} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="events1_list.php">
							<span class="glyphicon glyphicon-calendar"></span>Events					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="18">
		Events description	</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item4" {$item_welcome_item4} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="trainings1_list.php">
							<span class="glyphicon glyphicon-shopping-cart"></span>Trainings					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="21">
		Trainings description	</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item" {$item_welcome_item} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="candidates_list.php">
							<span class="glyphicon glyphicon-camera"></span>Candidates					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="22">
		Candidates description	</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item1" {$item_welcome_item1} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="event_participants_list.php">
							<span class="glyphicon glyphicon-shopping-cart"></span>Event Participants					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="30">
		Event Participants description	</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item2" {$item_welcome_item2} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="training_participants_list.php">
							<span class="glyphicon glyphicon-fire"></span>Training Participants					</a>
	</div>

				
	<div class="bs-welcome-content" data-comment-len="33">
		Training Participants description	</div>
	</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item5" {$item_welcome_item5} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="cities_list.php">
							<span class="glyphicon glyphicon-barcode"></span>Cities					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item6" {$item_welcome_item6} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="regions_list.php">
							<span class="glyphicon glyphicon-fire"></span>Regions					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item7" {$item_welcome_item7} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="sub_cities_list.php">
							Sub Cities					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item8" {$item_welcome_item8} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="zones_list.php">
							Zones					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item9" {$item_welcome_item9} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="dereja_services_list.php">
							Dereja Services					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item10" {$item_welcome_item10} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="dereja_event_services_list.php">
							Dereja Event Services					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item11" {$item_welcome_item11} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="dereja_training_services_list.php">
							Dereja Training Services					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item12" {$item_welcome_item12} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="institution_types_list.php">
							Institution Types					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item13" {$item_welcome_item13} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="departments_list.php">
							Departments					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item14" {$item_welcome_item14} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="education_levels_list.php">
							Education Levels					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item15" {$item_welcome_item15} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="minor_major_list.php">
							Minor Major					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item16" {$item_welcome_item16} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="skills_list.php">
							Skills					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item17" {$item_welcome_item17} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="dereja_information_sources_list.php">
							Dereja Information Sources					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item18" {$item_welcome_item18} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="it_related_skills_list.php">
							It Related Skills					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item19" {$item_welcome_item19} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="industry_specific_skills_list.php">
							Industry Specific Skills					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item20" {$item_welcome_item20} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="training_types_list.php">
							Training Types					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item21" {$item_welcome_item21} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="professions_list.php">
							Professions					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item22" {$item_welcome_item22} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="participant_organization_types_list.php">
							Participant Organization Types					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item23" {$item_welcome_item23} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="training_venues_list.php">
							Training Venues					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item24" {$item_welcome_item24} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="training_organizers_list.php">
							Training Organizers					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item25" {$item_welcome_item25} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="training_city_towns_list.php">
							Training City Towns					</a>
	</div>

		</div>

 
<div class="bs-welcome-item" data-itemtype="welcome_item" data-itemid="welcome_item26" {$item_welcome_item26} data-pageid="{$pageid}" data-page=".global_menu">
	<div class="bs-welcome-header">
		<a id="itemlink" href="program_areas_list.php">
							Program Areas					</a>
	</div>

		</div>

</td>
							</tr>
					
					</tbody>
				</table>
{END grid_block}
							</div>
						
														
					</div>
				</div>
			</div>
		</div>
		{$footer}
	{END body}
	</body>
</html>
