<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-add"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel candidates add}</h2>
		</div>					</div>
			</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN message_back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END message_back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}			{END firstAboveGridCell}	
	</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr {$row_grid_0} >
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN First_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_First_Name}  r-vertical-field" 
	data-signal-error-for="First_Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="First_Name" data-fieldname="First_Name" >

	<label class="r-edit-label control-label" for="{$labelfor_First_Name}">
		{BEGIN First_Name_label}{$label candidates First_Name }{END First_Name_label}
	</label>
	<div class="r-edit-field">
		{$First_Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="First_Name">
		<div class="text-muted" >
		{$tooltip candidates First_Name }		</div>
	</div>
</div>


{END First_Name_fieldblock}
											
{BEGIN Middle_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Middle_Name}  r-vertical-field" 
	data-signal-error-for="Middle_Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Middle_Name" data-fieldname="Middle_Name" >

	<label class="r-edit-label control-label" for="{$labelfor_Middle_Name}">
		{BEGIN Middle_Name_label}{$label candidates Middle_Name }{END Middle_Name_label}
	</label>
	<div class="r-edit-field">
		{$Middle_Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Middle_Name">
		<div class="text-muted" >
		{$tooltip candidates Middle_Name }		</div>
	</div>
</div>


{END Middle_Name_fieldblock}
											
{BEGIN Last_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Last_Name}  r-vertical-field" 
	data-signal-error-for="Last_Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Last_Name" data-fieldname="Last_Name" >

	<label class="r-edit-label control-label" for="{$labelfor_Last_Name}">
		{BEGIN Last_Name_label}{$label candidates Last_Name }{END Last_Name_label}
	</label>
	<div class="r-edit-field">
		{$Last_Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Last_Name">
		<div class="text-muted" >
		{$tooltip candidates Last_Name }		</div>
	</div>
</div>


{END Last_Name_fieldblock}
											
{BEGIN Sex_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sex}  r-vertical-field" 
	data-signal-error-for="Sex{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Sex" data-fieldname="Sex" >

	<label class="r-edit-label control-label" for="{$labelfor_Sex}">
		{BEGIN Sex_label}{$label candidates Sex }{END Sex_label}
	</label>
	<div class="r-edit-field">
		{$Sex_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Sex">
		<div class="text-muted" >
		{$tooltip candidates Sex }		</div>
	</div>
</div>


{END Sex_fieldblock}
											
{BEGIN DOB_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_DOB}  r-vertical-field" 
	data-signal-error-for="DOB{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="DOB" data-fieldname="DOB" >

	<label class="r-edit-label control-label" for="{$labelfor_DOB}">
		{BEGIN DOB_label}{$label candidates DOB }{END DOB_label}
	</label>
	<div class="r-edit-field">
		{$DOB_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="DOB">
		<div class="text-muted" >
		{$tooltip candidates DOB }		</div>
	</div>
</div>


{END DOB_fieldblock}
											
{BEGIN Region_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Region}  r-vertical-field" 
	data-signal-error-for="Region{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Region" data-fieldname="Region" >

	<label class="r-edit-label control-label" for="{$labelfor_Region}">
		{BEGIN Region_label}{$label candidates Region }{END Region_label}
	</label>
	<div class="r-edit-field">
		{$Region_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Region">
		<div class="text-muted" >
		{$tooltip candidates Region }		</div>
	</div>
</div>


{END Region_fieldblock}
											
{BEGIN City_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_City}  r-vertical-field" 
	data-signal-error-for="City{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="City" data-fieldname="City" >

	<label class="r-edit-label control-label" for="{$labelfor_City}">
		{BEGIN City_label}{$label candidates City }{END City_label}
	</label>
	<div class="r-edit-field">
		{$City_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="City">
		<div class="text-muted" >
		{$tooltip candidates City }		</div>
	</div>
</div>


{END City_fieldblock}
											
{BEGIN Sub_City_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sub_City}  r-vertical-field" 
	data-signal-error-for="Sub_City{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Sub_City" data-fieldname="Sub_City" >

	<label class="r-edit-label control-label" for="{$labelfor_Sub_City}">
		{BEGIN Sub_City_label}{$label candidates Sub_City }{END Sub_City_label}
	</label>
	<div class="r-edit-field">
		{$Sub_City_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Sub_City">
		<div class="text-muted" >
		{$tooltip candidates Sub_City }		</div>
	</div>
</div>


{END Sub_City_fieldblock}
											
{BEGIN Zone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Zone}  r-vertical-field" 
	data-signal-error-for="Zone{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Zone" data-fieldname="Zone" >

	<label class="r-edit-label control-label" for="{$labelfor_Zone}">
		{BEGIN Zone_label}{$label candidates Zone }{END Zone_label}
	</label>
	<div class="r-edit-field">
		{$Zone_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Zone">
		<div class="text-muted" >
		{$tooltip candidates Zone }		</div>
	</div>
</div>


{END Zone_fieldblock}
											
{BEGIN House_No_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_House_No}  r-vertical-field" 
	data-signal-error-for="House_No{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="House_No" data-fieldname="House_No" >

	<label class="r-edit-label control-label" for="{$labelfor_House_No}">
		{BEGIN House_No_label}{$label candidates House_No }{END House_No_label}
	</label>
	<div class="r-edit-field">
		{$House_No_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="House_No">
		<div class="text-muted" >
		{$tooltip candidates House_No }		</div>
	</div>
</div>


{END House_No_fieldblock}
											
{BEGIN Phone_Number_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Phone_Number}  r-vertical-field" 
	data-signal-error-for="Phone_Number{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Phone_Number" data-fieldname="Phone_Number" >

	<label class="r-edit-label control-label" for="{$labelfor_Phone_Number}">
		{BEGIN Phone_Number_label}{$label candidates Phone_Number }{END Phone_Number_label}
	</label>
	<div class="r-edit-field">
		{$Phone_Number_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Phone_Number">
		<div class="text-muted" >
		{$tooltip candidates Phone_Number }		</div>
	</div>
</div>


{END Phone_Number_fieldblock}
											
{BEGIN Phone_Number_Family_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Phone_Number_Family}  r-vertical-field" 
	data-signal-error-for="Phone_Number_Family{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="Phone_Number_Family" data-fieldname="Phone_Number_Family" >

	<label class="r-edit-label control-label" for="{$labelfor_Phone_Number_Family}">
		{BEGIN Phone_Number_Family_label}{$label candidates Phone_Number_Family }{END Phone_Number_Family_label}
	</label>
	<div class="r-edit-field">
		{$Phone_Number_Family_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Phone_Number_Family">
		<div class="text-muted" >
		{$tooltip candidates Phone_Number_Family }		</div>
	</div>
</div>


{END Phone_Number_Family_fieldblock}
											
{BEGIN Email_Address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Email_Address}  r-vertical-field" 
	data-signal-error-for="Email_Address{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Email_Address" data-fieldname="Email_Address" >

	<label class="r-edit-label control-label" for="{$labelfor_Email_Address}">
		{BEGIN Email_Address_label}{$label candidates Email_Address }{END Email_Address_label}
	</label>
	<div class="r-edit-field">
		{$Email_Address_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Email_Address">
		<div class="text-muted" >
		{$tooltip candidates Email_Address }		</div>
	</div>
</div>


{END Email_Address_fieldblock}
											
{BEGIN Institution_Type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Institution_Type}  r-vertical-field" 
	data-signal-error-for="Institution_Type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Institution_Type" data-fieldname="Institution_Type" >

	<label class="r-edit-label control-label" for="{$labelfor_Institution_Type}">
		{BEGIN Institution_Type_label}{$label candidates Institution_Type }{END Institution_Type_label}
	</label>
	<div class="r-edit-field">
		{$Institution_Type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Institution_Type">
		<div class="text-muted" >
		{$tooltip candidates Institution_Type }		</div>
	</div>
</div>


{END Institution_Type_fieldblock}
											
{BEGIN Education_Level_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Education_Level}  r-vertical-field" 
	data-signal-error-for="Education_Level{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Education_Level" data-fieldname="Education_Level" >

	<label class="r-edit-label control-label" for="{$labelfor_Education_Level}">
		{BEGIN Education_Level_label}{$label candidates Education_Level }{END Education_Level_label}
	</label>
	<div class="r-edit-field">
		{$Education_Level_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Education_Level">
		<div class="text-muted" >
		{$tooltip candidates Education_Level }		</div>
	</div>
</div>


{END Education_Level_fieldblock}
											
{BEGIN Department_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Department}  r-vertical-field" 
	data-signal-error-for="Department{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="Department" data-fieldname="Department" >

	<label class="r-edit-label control-label" for="{$labelfor_Department}">
		{BEGIN Department_label}{$label candidates Department }{END Department_label}
	</label>
	<div class="r-edit-field">
		{$Department_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Department">
		<div class="text-muted" >
		{$tooltip candidates Department }		</div>
	</div>
</div>


{END Department_fieldblock}
											
{BEGIN Minor_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Minor}  r-vertical-field" 
	data-signal-error-for="Minor{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="Minor" data-fieldname="Minor" >

	<label class="r-edit-label control-label" for="{$labelfor_Minor}">
		{BEGIN Minor_label}{$label candidates Minor }{END Minor_label}
	</label>
	<div class="r-edit-field">
		{$Minor_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Minor">
		<div class="text-muted" >
		{$tooltip candidates Minor }		</div>
	</div>
</div>


{END Minor_fieldblock}
											
{BEGIN Major_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Major}  r-vertical-field" 
	data-signal-error-for="Major{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="Major" data-fieldname="Major" >

	<label class="r-edit-label control-label" for="{$labelfor_Major}">
		{BEGIN Major_label}{$label candidates Major }{END Major_label}
	</label>
	<div class="r-edit-field">
		{$Major_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Major">
		<div class="text-muted" >
		{$tooltip candidates Major }		</div>
	</div>
</div>


{END Major_fieldblock}
											
{BEGIN Skills_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Skills}  r-vertical-field" 
	data-signal-error-for="Skills{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="Skills" data-fieldname="Skills" >

	<label class="r-edit-label control-label" for="{$labelfor_Skills}">
		{BEGIN Skills_label}{$label candidates Skills }{END Skills_label}
	</label>
	<div class="r-edit-field">
		{$Skills_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Skills">
		<div class="text-muted" >
		{$tooltip candidates Skills }		</div>
	</div>
</div>


{END Skills_fieldblock}
											
{BEGIN English_Proficiency_Level_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_English_Proficiency_Level}  r-vertical-field" 
	data-signal-error-for="English_Proficiency_Level{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="English_Proficiency_Level" data-fieldname="English_Proficiency_Level" >

	<label class="r-edit-label control-label" for="{$labelfor_English_Proficiency_Level}">
		{BEGIN English_Proficiency_Level_label}{$label candidates English_Proficiency_Level }{END English_Proficiency_Level_label}
	</label>
	<div class="r-edit-field">
		{$English_Proficiency_Level_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="English_Proficiency_Level">
		<div class="text-muted" >
		{$tooltip candidates English_Proficiency_Level }		</div>
	</div>
</div>


{END English_Proficiency_Level_fieldblock}
											
{BEGIN Industry_Specific_Skills_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Industry_Specific_Skills}  r-vertical-field" 
	data-signal-error-for="Industry_Specific_Skills{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="Industry_Specific_Skills" data-fieldname="Industry_Specific_Skills" >

	<label class="r-edit-label control-label" for="{$labelfor_Industry_Specific_Skills}">
		{BEGIN Industry_Specific_Skills_label}{$label candidates Industry_Specific_Skills }{END Industry_Specific_Skills_label}
	</label>
	<div class="r-edit-field">
		{$Industry_Specific_Skills_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Industry_Specific_Skills">
		<div class="text-muted" >
		{$tooltip candidates Industry_Specific_Skills }		</div>
	</div>
</div>


{END Industry_Specific_Skills_fieldblock}
											
{BEGIN IT_Related_Skills_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_IT_Related_Skills}  r-vertical-field" 
	data-signal-error-for="IT_Related_Skills{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="IT_Related_Skills" data-fieldname="IT_Related_Skills" >

	<label class="r-edit-label control-label" for="{$labelfor_IT_Related_Skills}">
		{BEGIN IT_Related_Skills_label}{$label candidates IT_Related_Skills }{END IT_Related_Skills_label}
	</label>
	<div class="r-edit-field">
		{$IT_Related_Skills_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="IT_Related_Skills">
		<div class="text-muted" >
		{$tooltip candidates IT_Related_Skills }		</div>
	</div>
</div>


{END IT_Related_Skills_fieldblock}
											
{BEGIN Certifications_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Certifications}  r-vertical-field" 
	data-signal-error-for="Certifications{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="Certifications" data-fieldname="Certifications" >

	<label class="r-edit-label control-label" for="{$labelfor_Certifications}">
		{BEGIN Certifications_label}{$label candidates Certifications }{END Certifications_label}
	</label>
	<div class="r-edit-field">
		{$Certifications_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Certifications">
		<div class="text-muted" >
		{$tooltip candidates Certifications }		</div>
	</div>
</div>


{END Certifications_fieldblock}
											
{BEGIN Year_of_graduation_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Year_of_graduation}  r-vertical-field" 
	data-signal-error-for="Year_of_graduation{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="Year_of_graduation" data-fieldname="Year_of_graduation" >

	<label class="r-edit-label control-label" for="{$labelfor_Year_of_graduation}">
		{BEGIN Year_of_graduation_label}{$label candidates Year_of_graduation }{END Year_of_graduation_label}
	</label>
	<div class="r-edit-field">
		{$Year_of_graduation_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Year_of_graduation">
		<div class="text-muted" >
		{$tooltip candidates Year_of_graduation }		</div>
	</div>
</div>


{END Year_of_graduation_fieldblock}
											
{BEGIN Work_Experience_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Work_Experience}  r-vertical-field" 
	data-signal-error-for="Work_Experience{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="Work_Experience" data-fieldname="Work_Experience" >

	<label class="r-edit-label control-label" for="{$labelfor_Work_Experience}">
		{BEGIN Work_Experience_label}{$label candidates Work_Experience }{END Work_Experience_label}
	</label>
	<div class="r-edit-field">
		{$Work_Experience_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Work_Experience">
		<div class="text-muted" >
		{$tooltip candidates Work_Experience }		</div>
	</div>
</div>


{END Work_Experience_fieldblock}
											
{BEGIN Joined_Dereja_Services_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Joined_Dereja_Services}  r-vertical-field" 
	data-signal-error-for="Joined_Dereja_Services{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="Joined_Dereja_Services" data-fieldname="Joined_Dereja_Services" >

	<label class="r-edit-label control-label" for="{$labelfor_Joined_Dereja_Services}">
		{BEGIN Joined_Dereja_Services_label}{$label candidates Joined_Dereja_Services }{END Joined_Dereja_Services_label}
	</label>
	<div class="r-edit-field">
		{$Joined_Dereja_Services_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Joined_Dereja_Services">
		<div class="text-muted" >
		{$tooltip candidates Joined_Dereja_Services }		</div>
	</div>
</div>


{END Joined_Dereja_Services_fieldblock}
											
{BEGIN Dereja_Services_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Dereja_Services}  r-vertical-field" 
	data-signal-error-for="Dereja_Services{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="Dereja_Services" data-fieldname="Dereja_Services" >

	<label class="r-edit-label control-label" for="{$labelfor_Dereja_Services}">
		{BEGIN Dereja_Services_label}{$label candidates Dereja_Services }{END Dereja_Services_label}
	</label>
	<div class="r-edit-field">
		{$Dereja_Services_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Dereja_Services">
		<div class="text-muted" >
		{$tooltip candidates Dereja_Services }		</div>
	</div>
</div>


{END Dereja_Services_fieldblock}
											
{BEGIN Dereja_Training_Services_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Dereja_Training_Services}  r-vertical-field" 
	data-signal-error-for="Dereja_Training_Services{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field27" {$item_integrated_edit_field27} data-pageid="{$pageid}" data-field="Dereja_Training_Services" data-fieldname="Dereja_Training_Services" >

	<label class="r-edit-label control-label" for="{$labelfor_Dereja_Training_Services}">
		{BEGIN Dereja_Training_Services_label}{$label candidates Dereja_Training_Services }{END Dereja_Training_Services_label}
	</label>
	<div class="r-edit-field">
		{$Dereja_Training_Services_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Dereja_Training_Services">
		<div class="text-muted" >
		{$tooltip candidates Dereja_Training_Services }		</div>
	</div>
</div>


{END Dereja_Training_Services_fieldblock}
											
{BEGIN Dereja_Event_Services_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Dereja_Event_Services}  r-vertical-field" 
	data-signal-error-for="Dereja_Event_Services{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field28" {$item_integrated_edit_field28} data-pageid="{$pageid}" data-field="Dereja_Event_Services" data-fieldname="Dereja_Event_Services" >

	<label class="r-edit-label control-label" for="{$labelfor_Dereja_Event_Services}">
		{BEGIN Dereja_Event_Services_label}{$label candidates Dereja_Event_Services }{END Dereja_Event_Services_label}
	</label>
	<div class="r-edit-field">
		{$Dereja_Event_Services_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Dereja_Event_Services">
		<div class="text-muted" >
		{$tooltip candidates Dereja_Event_Services }		</div>
	</div>
</div>


{END Dereja_Event_Services_fieldblock}
											
{BEGIN Dereja_web_profile_completion_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Dereja_web_profile_completion}  r-vertical-field" 
	data-signal-error-for="Dereja_web_profile_completion{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field29" {$item_integrated_edit_field29} data-pageid="{$pageid}" data-field="Dereja_web_profile_completion" data-fieldname="Dereja_web_profile_completion" >

	<label class="r-edit-label control-label" for="{$labelfor_Dereja_web_profile_completion}">
		{BEGIN Dereja_web_profile_completion_label}{$label candidates Dereja_web_profile_completion }{END Dereja_web_profile_completion_label}
	</label>
	<div class="r-edit-field">
		{$Dereja_web_profile_completion_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Dereja_web_profile_completion">
		<div class="text-muted" >
		{$tooltip candidates Dereja_web_profile_completion }		</div>
	</div>
</div>


{END Dereja_web_profile_completion_fieldblock}
											
{BEGIN Dereja_Information_Source_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Dereja_Information_Source}  r-vertical-field" 
	data-signal-error-for="Dereja_Information_Source{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field30" {$item_integrated_edit_field30} data-pageid="{$pageid}" data-field="Dereja_Information_Source" data-fieldname="Dereja_Information_Source" >

	<label class="r-edit-label control-label" for="{$labelfor_Dereja_Information_Source}">
		{BEGIN Dereja_Information_Source_label}{$label candidates Dereja_Information_Source }{END Dereja_Information_Source_label}
	</label>
	<div class="r-edit-field">
		{$Dereja_Information_Source_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Dereja_Information_Source">
		<div class="text-muted" >
		{$tooltip candidates Dereja_Information_Source }		</div>
	</div>
</div>


{END Dereja_Information_Source_fieldblock}
											
{BEGIN StudentID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_StudentID}  r-vertical-field" 
	data-signal-error-for="StudentID{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field31" {$item_integrated_edit_field31} data-pageid="{$pageid}" data-field="StudentID" data-fieldname="StudentID" >

	<label class="r-edit-label control-label" for="{$labelfor_StudentID}">
		{BEGIN StudentID_label}{$label candidates StudentID }{END StudentID_label}
	</label>
	<div class="r-edit-field">
		{$StudentID_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="StudentID">
		<div class="text-muted" >
		{$tooltip candidates StudentID }		</div>
	</div>
</div>


{END StudentID_fieldblock}
											
{BEGIN Disability_Status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Disability_Status}  r-vertical-field" 
	data-signal-error-for="Disability_Status{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field32" {$item_integrated_edit_field32} data-pageid="{$pageid}" data-field="Disability_Status" data-fieldname="Disability_Status" >

	<label class="r-edit-label control-label" for="{$labelfor_Disability_Status}">
		{BEGIN Disability_Status_label}{$label candidates Disability_Status }{END Disability_Status_label}
	</label>
	<div class="r-edit-field">
		{$Disability_Status_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Disability_Status">
		<div class="text-muted" >
		{$tooltip candidates Disability_Status }		</div>
	</div>
</div>


{END Disability_Status_fieldblock}
											
{BEGIN Disability_Type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Disability_Type}  r-vertical-field" 
	data-signal-error-for="Disability_Type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field33" {$item_integrated_edit_field33} data-pageid="{$pageid}" data-field="Disability_Type" data-fieldname="Disability_Type" >

	<label class="r-edit-label control-label" for="{$labelfor_Disability_Type}">
		{BEGIN Disability_Type_label}{$label candidates Disability_Type }{END Disability_Type_label}
	</label>
	<div class="r-edit-field">
		{$Disability_Type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Disability_Type">
		<div class="text-muted" >
		{$tooltip candidates Disability_Type }		</div>
	</div>
</div>


{END Disability_Type_fieldblock}
											
{BEGIN Disability_Type_Other_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Disability_Type_Other}  r-vertical-field" 
	data-signal-error-for="Disability_Type_Other{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field34" {$item_integrated_edit_field34} data-pageid="{$pageid}" data-field="Disability_Type_Other" data-fieldname="Disability_Type_Other" >

	<label class="r-edit-label control-label" for="{$labelfor_Disability_Type_Other}">
		{BEGIN Disability_Type_Other_label}{$label candidates Disability_Type_Other }{END Disability_Type_Other_label}
	</label>
	<div class="r-edit-field">
		{$Disability_Type_Other_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Disability_Type_Other">
		<div class="text-muted" >
		{$tooltip candidates Disability_Type_Other }		</div>
	</div>
</div>


{END Disability_Type_Other_fieldblock}
											
{BEGIN Field_Of_Study_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Field_Of_Study}  r-vertical-field" 
	data-signal-error-for="Field_Of_Study{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field35" {$item_integrated_edit_field35} data-pageid="{$pageid}" data-field="Field_Of_Study" data-fieldname="Field_Of_Study" >

	<label class="r-edit-label control-label" for="{$labelfor_Field_Of_Study}">
		{BEGIN Field_Of_Study_label}{$label candidates Field_Of_Study }{END Field_Of_Study_label}
	</label>
	<div class="r-edit-field">
		{$Field_Of_Study_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Field_Of_Study">
		<div class="text-muted" >
		{$tooltip candidates Field_Of_Study }		</div>
	</div>
</div>


{END Field_Of_Study_fieldblock}
											
{BEGIN GPA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_GPA}  r-vertical-field" 
	data-signal-error-for="GPA{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field36" {$item_integrated_edit_field36} data-pageid="{$pageid}" data-field="GPA" data-fieldname="GPA" >

	<label class="r-edit-label control-label" for="{$labelfor_GPA}">
		{BEGIN GPA_label}{$label candidates GPA }{END GPA_label}
	</label>
	<div class="r-edit-field">
		{$GPA_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="GPA">
		<div class="text-muted" >
		{$tooltip candidates GPA }		</div>
	</div>
</div>


{END GPA_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
