<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-print" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="left"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c2" data-pageid="{$pageid}"	{$cell_top_c2}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="print_header" data-itemid="print_header" {$item_print_header} data-pageid="{$pageid}" >{$pagetitlelabel candidate_profile print}</h2>
	 
		{BEGIN printtabheader}
<span data-itemtype="print_subheader" data-itemid="print_subheader" {$item_print_subheader} data-pageid="{$pageid}" >
{$printtabheader_text}
</span>
{END printtabheader}
		</div>					</div>
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c4" data-pageid="{$pageid}"	{$cell_top_c4}
	class=" r-ori-vert			col-md-12
	
">
		 
		{BEGIN mastertable_block}
<div data-itemtype="master_info" data-itemid="master_info" {$item_master_info} data-pageid="{$pageid}">
	{$showmasterfile}
</div>
{END mastertable_block}		</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="print_pages" data-itemid="print_pages" {$item_print_pages} data-pageid="{$pageid}" data-small >
	{$print_pages_labelprint_pages}
</span>			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
									
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}{BEGIN grid_block}
<div data-vcolumns=1 class="r-fluid r-grid-vertical bs-grid-vertical" data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" >
{BEGIN grid_row}
	{BEGIN grid_record}
	{BEGIN grid_vrecord}
	<div class="r-record-body {$rowclass}" {$rowattrs} {$rowstyle}>
		<div class="panel panel-default" {$recordattrs}>
											{BEGIN grid_recordheader}
			<div class="panel-heading">
					
	
				<table data-width="2" class="header-table">
				 
										<tr>
						 
							<td 
	class=" r-ori-vert			"
	colspan="2"		 
	data-cellId="grid_cell_top" data-pageid="{$pageid}" data-record-id="{$recId}">
</td>
											</tr>
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
									 
													</table>

					</div>
		{END grid_recordheader}
									
			<div class="panel-body">					
					
	
				<table data-width="2" >
				 
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$First_Name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label1" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN First_Name_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field50" {$item_simple_grid_field50} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="First_Name">
	{$label candidate_profile First_Name }	</span>
{END First_Name_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$First_Name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN First_Name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="First_Name" data-default-width >
{$First_Name_value}
</span>
{END First_Name_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Middle_Name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label2" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Middle_Name_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field51" {$item_simple_grid_field51} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Middle_Name">
	{$label candidate_profile Middle_Name }	</span>
{END Middle_Name_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Middle_Name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Middle_Name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Middle_Name" data-default-width >
{$Middle_Name_value}
</span>
{END Middle_Name_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Last_Name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label3" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Last_Name_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field52" {$item_simple_grid_field52} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Last_Name">
	{$label candidate_profile Last_Name }	</span>
{END Last_Name_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Last_Name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Last_Name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Last_Name" data-default-width >
{$Last_Name_value}
</span>
{END Last_Name_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Sex_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label4" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Sex_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field53" {$item_simple_grid_field53} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Sex">
	{$label candidate_profile Sex }	</span>
{END Sex_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Sex_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Sex_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Sex" data-default-width >
{$Sex_value}
</span>
{END Sex_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$DOB_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label5" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN DOB_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field54" {$item_simple_grid_field54} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DOB">
	{$label candidate_profile DOB }	</span>
{END DOB_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$DOB_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN DOB_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DOB" data-default-width >
{$DOB_value}
</span>
{END DOB_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Region_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label6" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Region_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field55" {$item_simple_grid_field55} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Region">
	{$label candidate_profile Region }	</span>
{END Region_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Region_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Region_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Region" data-default-width >
{$Region_value}
</span>
{END Region_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$City_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label7" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN City_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field56" {$item_simple_grid_field56} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="City">
	{$label candidate_profile City }	</span>
{END City_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$City_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field7" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN City_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="City" data-default-width >
{$City_value}
</span>
{END City_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Sub_City_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label8" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Sub_City_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field57" {$item_simple_grid_field57} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Sub_City">
	{$label candidate_profile Sub_City }	</span>
{END Sub_City_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Sub_City_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field8" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Sub_City_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Sub_City" data-default-width >
{$Sub_City_value}
</span>
{END Sub_City_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Zone_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label9" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Zone_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field58" {$item_simple_grid_field58} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Zone">
	{$label candidate_profile Zone }	</span>
{END Zone_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Zone_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field9" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Zone_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Zone" data-default-width >
{$Zone_value}
</span>
{END Zone_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$House_No_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label10" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN House_No_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field59" {$item_simple_grid_field59} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="House_No">
	{$label candidate_profile House_No }	</span>
{END House_No_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$House_No_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field10" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN House_No_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="House_No" data-default-width >
{$House_No_value}
</span>
{END House_No_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Phone_Number_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label11" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Phone_Number_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field60" {$item_simple_grid_field60} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Phone_Number">
	{$label candidate_profile Phone_Number }	</span>
{END Phone_Number_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Phone_Number_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field11" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Phone_Number_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Phone_Number" data-default-width >
{$Phone_Number_value}
</span>
{END Phone_Number_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Phone_Number_Family_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label12" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Phone_Number_Family_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field61" {$item_simple_grid_field61} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Phone_Number_Family">
	{$label candidate_profile Phone_Number_Family }	</span>
{END Phone_Number_Family_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Phone_Number_Family_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field12" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Phone_Number_Family_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Phone_Number_Family" data-default-width >
{$Phone_Number_Family_value}
</span>
{END Phone_Number_Family_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Email_Address_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label13" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Email_Address_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field62" {$item_simple_grid_field62} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Email_Address">
	{$label candidate_profile Email_Address }	</span>
{END Email_Address_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Email_Address_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field13" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Email_Address_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Email_Address" data-default-width >
{$Email_Address_value}
</span>
{END Email_Address_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Institution_Type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label14" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Institution_Type_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field63" {$item_simple_grid_field63} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Institution_Type">
	{$label candidate_profile Institution_Type }	</span>
{END Institution_Type_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Institution_Type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field14" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Institution_Type_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field14" {$item_simple_grid_field14} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Institution_Type" data-default-width >
{$Institution_Type_value}
</span>
{END Institution_Type_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Education_Level_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label15" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Education_Level_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field64" {$item_simple_grid_field64} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Education_Level">
	{$label candidate_profile Education_Level }	</span>
{END Education_Level_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Education_Level_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field15" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Education_Level_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field15" {$item_simple_grid_field15} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Education_Level" data-default-width >
{$Education_Level_value}
</span>
{END Education_Level_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Department_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label16" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Department_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field65" {$item_simple_grid_field65} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Department">
	{$label candidate_profile Department }	</span>
{END Department_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Department_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field16" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Department_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field16" {$item_simple_grid_field16} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Department" data-default-width >
{$Department_value}
</span>
{END Department_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Minor_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label17" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Minor_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field66" {$item_simple_grid_field66} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Minor">
	{$label candidate_profile Minor }	</span>
{END Minor_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Minor_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field17" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Minor_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field17" {$item_simple_grid_field17} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Minor" data-default-width >
{$Minor_value}
</span>
{END Minor_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Major_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label18" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Major_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field67" {$item_simple_grid_field67} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Major">
	{$label candidate_profile Major }	</span>
{END Major_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Major_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field18" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Major_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field18" {$item_simple_grid_field18} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Major" data-default-width >
{$Major_value}
</span>
{END Major_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Skills_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label19" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Skills_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field68" {$item_simple_grid_field68} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Skills">
	{$label candidate_profile Skills }	</span>
{END Skills_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Skills_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field19" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Skills_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field19" {$item_simple_grid_field19} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Skills" data-default-width >
{$Skills_value}
</span>
{END Skills_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$English_Proficiency_Level_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label20" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN English_Proficiency_Level_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field69" {$item_simple_grid_field69} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="English_Proficiency_Level">
	{$label candidate_profile English_Proficiency_Level }	</span>
{END English_Proficiency_Level_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$English_Proficiency_Level_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field20" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN English_Proficiency_Level_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field20" {$item_simple_grid_field20} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="English_Proficiency_Level" data-default-width >
{$English_Proficiency_Level_value}
</span>
{END English_Proficiency_Level_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Industry_Specific_Skills_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label21" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Industry_Specific_Skills_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field70" {$item_simple_grid_field70} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Industry_Specific_Skills">
	{$label candidate_profile Industry_Specific_Skills }	</span>
{END Industry_Specific_Skills_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Industry_Specific_Skills_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field21" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Industry_Specific_Skills_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field21" {$item_simple_grid_field21} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Industry_Specific_Skills" data-default-width >
{$Industry_Specific_Skills_value}
</span>
{END Industry_Specific_Skills_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$IT_Related_Skills_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label22" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN IT_Related_Skills_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field71" {$item_simple_grid_field71} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IT_Related_Skills">
	{$label candidate_profile IT_Related_Skills }	</span>
{END IT_Related_Skills_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$IT_Related_Skills_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field22" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN IT_Related_Skills_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field22" {$item_simple_grid_field22} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="IT_Related_Skills" data-default-width >
{$IT_Related_Skills_value}
</span>
{END IT_Related_Skills_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Certifications_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label23" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Certifications_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field72" {$item_simple_grid_field72} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Certifications">
	{$label candidate_profile Certifications }	</span>
{END Certifications_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Certifications_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field23" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Certifications_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field23" {$item_simple_grid_field23} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Certifications" data-default-width >
{$Certifications_value}
</span>
{END Certifications_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Year_of_graduation_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label24" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Year_of_graduation_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field73" {$item_simple_grid_field73} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Year_of_graduation">
	{$label candidate_profile Year_of_graduation }	</span>
{END Year_of_graduation_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Year_of_graduation_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field24" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Year_of_graduation_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field24" {$item_simple_grid_field24} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Year_of_graduation" data-default-width >
{$Year_of_graduation_value}
</span>
{END Year_of_graduation_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Work_Experience_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label25" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Work_Experience_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field74" {$item_simple_grid_field74} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Work_Experience">
	{$label candidate_profile Work_Experience }	</span>
{END Work_Experience_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Work_Experience_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field25" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Work_Experience_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field25" {$item_simple_grid_field25} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Work_Experience" data-default-width >
{$Work_Experience_value}
</span>
{END Work_Experience_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Joined_Dereja_Services_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label26" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Joined_Dereja_Services_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field75" {$item_simple_grid_field75} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Joined_Dereja_Services">
	{$label candidate_profile Joined_Dereja_Services }	</span>
{END Joined_Dereja_Services_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Joined_Dereja_Services_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field26" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Joined_Dereja_Services_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field26" {$item_simple_grid_field26} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Joined_Dereja_Services" data-default-width >
{$Joined_Dereja_Services_value}
</span>
{END Joined_Dereja_Services_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Dereja_Services_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label27" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Dereja_Services_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field76" {$item_simple_grid_field76} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_Services">
	{$label candidate_profile Dereja_Services }	</span>
{END Dereja_Services_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Dereja_Services_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field27" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Dereja_Services_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field27" {$item_simple_grid_field27} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_Services" data-default-width >
{$Dereja_Services_value}
</span>
{END Dereja_Services_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Dereja_Training_Services_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label28" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Dereja_Training_Services_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field77" {$item_simple_grid_field77} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_Training_Services">
	{$label candidate_profile Dereja_Training_Services }	</span>
{END Dereja_Training_Services_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Dereja_Training_Services_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field28" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Dereja_Training_Services_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field28" {$item_simple_grid_field28} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_Training_Services" data-default-width >
{$Dereja_Training_Services_value}
</span>
{END Dereja_Training_Services_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Dereja_Event_Services_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label29" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Dereja_Event_Services_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field78" {$item_simple_grid_field78} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_Event_Services">
	{$label candidate_profile Dereja_Event_Services }	</span>
{END Dereja_Event_Services_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Dereja_Event_Services_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field29" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Dereja_Event_Services_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field29" {$item_simple_grid_field29} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_Event_Services" data-default-width >
{$Dereja_Event_Services_value}
</span>
{END Dereja_Event_Services_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Dereja_web_profile_completion_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label30" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Dereja_web_profile_completion_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field79" {$item_simple_grid_field79} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_web_profile_completion">
	{$label candidate_profile Dereja_web_profile_completion }	</span>
{END Dereja_web_profile_completion_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Dereja_web_profile_completion_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field30" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Dereja_web_profile_completion_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field30" {$item_simple_grid_field30} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_web_profile_completion" data-default-width >
{$Dereja_web_profile_completion_value}
</span>
{END Dereja_web_profile_completion_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Dereja_Information_Source_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label31" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Dereja_Information_Source_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field80" {$item_simple_grid_field80} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_Information_Source">
	{$label candidate_profile Dereja_Information_Source }	</span>
{END Dereja_Information_Source_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Dereja_Information_Source_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field31" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Dereja_Information_Source_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field31" {$item_simple_grid_field31} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Dereja_Information_Source" data-default-width >
{$Dereja_Information_Source_value}
</span>
{END Dereja_Information_Source_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Training_Organizer_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label32" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Training_Organizer_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field81" {$item_simple_grid_field81} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_Organizer">
	{$label candidate_profile Training_Organizer }	</span>
{END Training_Organizer_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Training_Organizer_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field32" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Training_Organizer_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field32" {$item_simple_grid_field32} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_Organizer" data-default-width >
{$Training_Organizer_value}
</span>
{END Training_Organizer_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Training_Type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label33" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Training_Type_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field82" {$item_simple_grid_field82} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_Type">
	{$label candidate_profile Training_Type }	</span>
{END Training_Type_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Training_Type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field33" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Training_Type_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field33" {$item_simple_grid_field33} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_Type" data-default-width >
{$Training_Type_value}
</span>
{END Training_Type_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Program_Area_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label34" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Program_Area_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field83" {$item_simple_grid_field83} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Program_Area">
	{$label candidate_profile Program_Area }	</span>
{END Program_Area_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Program_Area_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field34" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Program_Area_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field34" {$item_simple_grid_field34} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Program_Area" data-default-width >
{$Program_Area_value}
</span>
{END Program_Area_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Training_City_Town_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label35" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Training_City_Town_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field84" {$item_simple_grid_field84} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_City_Town">
	{$label candidate_profile Training_City_Town }	</span>
{END Training_City_Town_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Training_City_Town_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field35" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Training_City_Town_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field35" {$item_simple_grid_field35} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_City_Town" data-default-width >
{$Training_City_Town_value}
</span>
{END Training_City_Town_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Training_Venue_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label36" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Training_Venue_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field85" {$item_simple_grid_field85} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_Venue">
	{$label candidate_profile Training_Venue }	</span>
{END Training_Venue_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Training_Venue_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field36" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Training_Venue_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field36" {$item_simple_grid_field36} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_Venue" data-default-width >
{$Training_Venue_value}
</span>
{END Training_Venue_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Training_start_date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label37" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Training_start_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field86" {$item_simple_grid_field86} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_start_date">
	{$label candidate_profile Training_start_date }	</span>
{END Training_start_date_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Training_start_date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field37" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Training_start_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field37" {$item_simple_grid_field37} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_start_date" data-default-width >
{$Training_start_date_value}
</span>
{END Training_start_date_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Training_end_date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label38" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Training_end_date_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field87" {$item_simple_grid_field87} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_end_date">
	{$label candidate_profile Training_end_date }	</span>
{END Training_end_date_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Training_end_date_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field38" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Training_end_date_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field38" {$item_simple_grid_field38} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_end_date" data-default-width >
{$Training_end_date_value}
</span>
{END Training_end_date_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Training_Title_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label39" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Training_Title_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field88" {$item_simple_grid_field88} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_Title">
	{$label candidate_profile Training_Title }	</span>
{END Training_Title_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Training_Title_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field39" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Training_Title_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field39" {$item_simple_grid_field39} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Training_Title" data-default-width >
{$Training_Title_value}
</span>
{END Training_Title_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Participant_Profession_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label40" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Participant_Profession_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field89" {$item_simple_grid_field89} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Profession">
	{$label candidate_profile Participant_Profession }	</span>
{END Participant_Profession_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Participant_Profession_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field40" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Participant_Profession_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field40" {$item_simple_grid_field40} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Profession" data-default-width >
{$Participant_Profession_value}
</span>
{END Participant_Profession_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Participant_Field_of_Study_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label41" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Participant_Field_of_Study_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field90" {$item_simple_grid_field90} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Field_of_Study">
	{$label candidate_profile Participant_Field_of_Study }	</span>
{END Participant_Field_of_Study_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Participant_Field_of_Study_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field41" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Participant_Field_of_Study_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field41" {$item_simple_grid_field41} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Field_of_Study" data-default-width >
{$Participant_Field_of_Study_value}
</span>
{END Participant_Field_of_Study_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Participant_Facility_or_Organization_Type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label42" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Participant_Facility_or_Organization_Type_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field91" {$item_simple_grid_field91} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Facility_or_Organization_Type">
	{$label candidate_profile Participant_Facility_or_Organization_Type }	</span>
{END Participant_Facility_or_Organization_Type_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Participant_Facility_or_Organization_Type_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field42" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Participant_Facility_or_Organization_Type_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field42" {$item_simple_grid_field42} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Facility_or_Organization_Type" data-default-width >
{$Participant_Facility_or_Organization_Type_value}
</span>
{END Participant_Facility_or_Organization_Type_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Participant_Organization_Name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label43" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Participant_Organization_Name_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field92" {$item_simple_grid_field92} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Organization_Name">
	{$label candidate_profile Participant_Organization_Name }	</span>
{END Participant_Organization_Name_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Participant_Organization_Name_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field43" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Participant_Organization_Name_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field43" {$item_simple_grid_field43} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Organization_Name" data-default-width >
{$Participant_Organization_Name_value}
</span>
{END Participant_Organization_Name_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Participant_Home_Address_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label44" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Participant_Home_Address_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field93" {$item_simple_grid_field93} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Home_Address">
	{$label candidate_profile Participant_Home_Address }	</span>
{END Participant_Home_Address_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Participant_Home_Address_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field44" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Participant_Home_Address_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field44" {$item_simple_grid_field44} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Participant_Home_Address" data-default-width >
{$Participant_Home_Address_value}
</span>
{END Participant_Home_Address_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Disablity_Status_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label45" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Disablity_Status_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field94" {$item_simple_grid_field94} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Disablity_Status">
	{$label candidate_profile Disablity_Status }	</span>
{END Disablity_Status_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Disablity_Status_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field45" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Disablity_Status_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field45" {$item_simple_grid_field45} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Disablity_Status" data-default-width >
{$Disablity_Status_value}
</span>
{END Disablity_Status_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Pre_Test_Score_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label46" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Pre_Test_Score_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field95" {$item_simple_grid_field95} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Pre_Test_Score">
	{$label candidate_profile Pre_Test_Score }	</span>
{END Pre_Test_Score_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Pre_Test_Score_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field46" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Pre_Test_Score_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field46" {$item_simple_grid_field46} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Pre_Test_Score" data-default-width >
{$Pre_Test_Score_value}
</span>
{END Pre_Test_Score_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Skill_Test_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label47" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Skill_Test_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field96" {$item_simple_grid_field96} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Skill_Test">
	{$label candidate_profile Skill_Test }	</span>
{END Skill_Test_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Skill_Test_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field47" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Skill_Test_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field47" {$item_simple_grid_field47} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Skill_Test" data-default-width >
{$Skill_Test_value}
</span>
{END Skill_Test_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$Post_Test_Score_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label48" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN Post_Test_Score_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="simple_grid_field97" {$item_simple_grid_field97} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Post_Test_Score">
	{$label candidate_profile Post_Test_Score }	</span>
{END Post_Test_Score_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$Post_Test_Score_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field48" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN Post_Test_Score_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field48" {$item_simple_grid_field48} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Post_Test_Score" data-default-width >
{$Post_Test_Score_value}
</span>
{END Post_Test_Score_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$CandidateID_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN CandidateID_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label" {$item_grid_field_label} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CandidateID">
	{$label candidate_profile CandidateID }	</span>
{END CandidateID_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$CandidateID_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN CandidateID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field" {$item_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="CandidateID" data-default-width >
{$CandidateID_value}
</span>
{END CandidateID_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$EventID_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label49" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN EventID_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label1" {$item_grid_field_label1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="EventID">
	{$label candidate_profile EventID }	</span>
{END EventID_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$EventID_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field49" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN EventID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field1" {$item_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="EventID" data-default-width >
{$EventID_value}
</span>
{END EventID_fieldcolumn}</td>
											</tr>
									 
										<tr>
						 
							<td 
	class="r-align-right r-ori-vert				{$TrainingID_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_label50" data-pageid="{$pageid}" data-record-id="{$recId}" data-label-col>
 
{BEGIN TrainingID_fieldheadercolumn}
 
	<span data-itemtype="grid_field_label" data-itemid="grid_field_label2" {$item_grid_field_label2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TrainingID">
	{$label candidate_profile TrainingID }	</span>
{END TrainingID_fieldheadercolumn}

</td>
						 
							<td 
	class=" r-ori-vert				{$TrainingID_class}
			"
			 
		data-field=""
	 
	data-cellId="grid_cell_field50" data-pageid="{$pageid}" data-record-id="{$recId}" data-value-col>
 
{BEGIN TrainingID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="grid_field2" {$item_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="TrainingID" data-default-width >
{$TrainingID_value}
</span>
{END TrainingID_fieldcolumn}</td>
											</tr>
									 
													</table>

				
			</div>				
									
		</div>
</div>
		

 
		 
{BEGIN details_event_profile}
{$displayDetailTable_event_profile}
{END details_event_profile}
 
{BEGIN details_training_profile}
{$displayDetailTable_training_profile}
{END details_training_profile}
	{END grid_vrecord}
	{END grid_record}
{END grid_row}
</div>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}" >		
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
