<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
    <LINK rel="shortcut icon" type="image/png" href="./images/dereja.png" />		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
			
	</head>

	<body class="{$stylename} function-report"   
		>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="300px" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo" {$item_logo}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo" {$item_logo} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu DerejaMenuSet}			</div>
		
     
     
             
     
            {END left_block}
</div>				</div>
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="expand_menu_button" {$item_expand_menu_button} data-topcell-item-type="expand_menu_button" >
				<span data-itemtype="expand_menu_button" data-itemid="expand_menu_button" {$item_expand_menu_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-menu-hamburger" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Show menu" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search_field" {$item_simple_search_field} data-topcell-item-type="simple_search_field" >
				{$simpleSearchFieldCombo}			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search_option" {$item_simple_search_option} data-topcell-item-type="simple_search_option" >
				{$simpleSearchTypeCombo}			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
				<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Show all">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}

	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
										<span class="glyphicon glyphicon-cog"></span>
												<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
								<li data-itemtype="advsearch_link" data-itemid="advsearch_link" {$item_advsearch_link} data-pageid="{$pageid}" data-small >
				<a   href="candidates_view_search.php{$stateLink_full}" {$advsearchlink_attrs}  title="" >
				
		Advanced search		
		</a>
	</li>
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="show_search_panel" data-itemid="show_search_panel" {$item_show_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="showOptPanel{$id}"  title="" >
				
		Show search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							{BEGIN searchPanelTopButtons}
	<li data-itemtype="hide_search_panel" data-itemid="hide_search_panel" {$item_hide_search_panel} data-pageid="{$pageid}" data-small >
				<a  id="hideOptPanel{$id}"  title="" >
				
		Hide search panel		
		</a>
	</li>
{END searchPanelTopButtons}
							<li role="separator" class="divider"></li>							{BEGIN export_link}
	<li data-itemtype="export_report_excel" data-itemid="export_report_excel" {$item_export_report_excel} data-pageid="{$pageid}" data-small >
				<a  href="candidates_view_print.php?all=1&amp;format=excel{$stateLink}" {$excellink_attrs}  title="" >
				
		Export to Excel		
		</a>
	</li>
{END export_link}
							{BEGIN export_link}
	<li data-itemtype="export_report_word" data-itemid="export_report_word" {$item_export_report_word} data-pageid="{$pageid}" data-small >
				<a  href="candidates_view_print.php?all=1&amp;format=word{$stateLink}" {$wordlink_attrs}  title="" >
				
		Export to Word		
		</a>
	</li>
{END export_link}
							{BEGIN export_link}
	<li data-itemtype="export_report_pdf" data-itemid="export_report_pdf" {$item_export_report_pdf} data-pageid="{$pageid}" data-small >
				<a  data-pdfpage="rprint" 
data-scope="0" 
data-split="0" 
data-records="10" 
data-orientation="portrait" 
data-scale="100" 
data-filename="Candidates View.pdf" 
data-pagesize="LETTER" 
data-pagetype="rprint" 
  title="" >
				
		Export to PDF		
		</a>
	</li>
{END export_link}
							<li role="separator" class="divider"></li>							{BEGIN saveSeachButton}
	<li data-itemtype="save_search" data-itemid="save_search" {$item_save_search} data-pageid="{$pageid}" data-small >
				<a  href="#" id="saveSearch{$id}"  title="" >
				
		Save search		
		</a>
	</li>
{END saveSeachButton}
							<li role="separator" class="divider"></li>							{BEGIN savedSeachesButton}
<li data-itemtype="saved_searches" data-itemid="saved_searches" {$item_saved_searches} data-pageid="{$pageid}">
	<a {$saveSearchButtonAttrs} id="savedSearches{$id}">Saved searches:</a>
	<ul class="rnr-saved-searches rnr-list" id ="savedSearchedList{$id}"></ul>
</li>
{END savedSeachesButton}
					</ul>
	</span>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="notifications" {$item_notifications} data-topcell-item-type="notifications" >
				<div class="dropdown" data-itemtype="notifications" data-itemid="notifications" {$item_notifications} data-pageid="{$pageid}" id="notifications{$id}">
	<button class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<i class="fa fa-bell"></i>
		<span class="badge badge-warning" ></span>
	</button>
	<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
		<div class="r-noti-header">
			<span class="r-noti-h-text">
				Notifications			</span>
			<!--
			<a class="r-noti-all">
				see all
			</a>
			-->
			<a class="r-noti-close" href="#">
				<i class="fa fa-times"></i>
			</a>
		</div>
		<div class="r-noti-messages">
		</div>
	</div>
	
<script type="text/x-tmpl" id="noti-message">
	<a draggable="false" class="r-noti-message" 
		{% if (o.url ) { %} 
			href="{%=o.url%}" 
		{% } %}
		>
		<span class="r-noti-img">
			{% if (o.iconType == 'fa') { %}
			<span class="fa {%=o.icon%}"></span>
			{% } else if (o.iconType == 'bs') { %}
			<span class="glyphicon {%=o.icon%}"></span>
			{% } else if (o.icon) { %}
			<img src="{%=o.icon%}">
			{% } %}
		</span>
		<span class="r-noti-text">
			<span class="r-noti-title">
				{% if (o.title) { %}
					<span class="r-noti-title-text">
						{%=o.title%}
					</span>
				{% } %}
				<span class="r-noti-when">
					{%=o.time%}
				</span>
			</span>
			<span class="r-noti-body">
				{%=o.message%}
			</span>
		</span>
		{% if (o.new) { %}
		<span class="r-noti-new">
			<span class="fa fa-circle"></span>
		</span>
		{% } %}
	</a>
</script>	

</div>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Login			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
			{BEGIN userbutton_icon}							<span class="glyphicon glyphicon-user"></span>
						{END userbutton_icon}{$userbutton_image}			{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN userinfo_link}
	<li data-itemtype="userinfo_link" data-itemid="userinfo_link" {$item_userinfo_link} data-pageid="{$pageid}" data-small >
				<a  href="userinfo.php"  title="" >
				
		User Profile		
		</a>
	</li>
{END userinfo_link}
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Log out		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Admin Area		
		</a>
	</li>
{END adminarea_link}
							{BEGIN changepwd_link}
	<li data-itemtype="changepassword_link" data-itemid="changepassword_link" {$item_changepassword_link} data-pageid="{$pageid}" data-small >
				<a  href="changepwd.php" {$changepwdlink_attrs} id="changePasswordButton{$id}"  title="" >
				
		Change password		
		</a>
	</li>
{END changepwd_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>
				<div class="r-body" data-resize-top="topbar" data-body-width="full">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
											<div class="r-above">
					{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c4" data-pageid="{$pageid}"	{$cell_above-grid_c4}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		<span data-itemtype="text" data-itemid="text1" {$item_text1} data-pageid="{$pageid}" data-small > 
	<p><strong>Cross Tab Reports</strong></p></span>
			{END firstAboveGridCell}	
	</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class="			col-md-6
	
">
		 
					<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" 
	data-orders="candidate_employment_tracker,event_participants,training_participants"
			data-details-candidate_employment_tracker			data-details-event_participants			data-details-training_participants	>
		<span data-details-inside data-short-table="candidate_employment_tracker">
			</span>
		<span data-details-inside data-short-table="event_participants">
			</span>
		<span data-details-inside data-short-table="training_participants">
			</span>
		<div data-details-preview>
	</div>
</div>
	 
		
		
	{BEGIN candidate_employment_tracker_dtable_link}
	<span data-itemtype="grid_details_link" data-itemid="grid_details_link" {$item_grid_details_link} data-pageid="{$pageid}">
	<a  {$candidate_employment_tracker_link_attrs} data-short-details="candidate_employment_tracker"
		 
					>
						Candidate Employment Tracker		
									<span {$candidate_employment_tracker_childnumber_attr} dir="ltr">
					{BEGIN candidate_employment_tracker_childcount}({$candidate_employment_tracker_childnumber}){END candidate_employment_tracker_childcount}
				</span>
						</a>
	</span>
	{END candidate_employment_tracker_dtable_link}


	 
			 
		
		
	{BEGIN event_participants_dtable_link}
	<span data-itemtype="grid_details_link" data-itemid="grid_details_link1" {$item_grid_details_link1} data-pageid="{$pageid}">
	<a  {$event_participants_link_attrs} data-short-details="event_participants"
		 
					>
						Event Participants		
									<span {$event_participants_childnumber_attr} dir="ltr">
					{BEGIN event_participants_childcount}({$event_participants_childnumber}){END event_participants_childcount}
				</span>
						</a>
	</span>
	{END event_participants_dtable_link}


	 
			 
		
		
	{BEGIN training_participants_dtable_link}
	<span data-itemtype="grid_details_link" data-itemid="grid_details_link2" {$item_grid_details_link2} data-pageid="{$pageid}">
	<a  {$training_participants_link_attrs} data-short-details="training_participants"
		 
					>
						Training Participants		
									<span {$training_participants_childnumber_attr} dir="ltr">
					{BEGIN training_participants_childcount}({$training_participants_childnumber}){END training_participants_childcount}
				</span>
						</a>
	</span>
	{END training_participants_dtable_link}


		</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$mlp_push}{$mlparam first var first_shown}{$mlparam last var last_shown}{$mlparam total var records_found}{mlang_message DISPLAYING}{$mlp_pop}</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$grpsPerPage}
</span>	 
		{BEGIN print_friendly}
<span id="printpanelblock{$id}"  data-pageid="{$pageid}" {$printpanel_hiddenattr} data-itemtype="print_panel" data-itemid="print_panel" {$item_print_panel} data-pageid="{$pageid}">
	<button title="Print-friendly page" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					<span class="glyphicon glyphicon-print"></span>
				<span class="caret"></span>
	</button>
	<ul class="dropdown-menu pull-right">
										 
				 
					<li class="container-fluid 
										">
									<div id="print_friendly_scope{$id}">
	<div class="row">
		<div class="col-md-4">
			Scope:		</div>

			 
		{BEGIN print_friendly_all}
		<div class="col-md-8">
			<label for="printAll{$id}">
				<input type="radio" id="printAll{$id}" data-href="candidates_view_print.php?all=1&amp;{$crosstable_attrs}" name="printScope" >
									Print whole report							</label>
		</div>
		{END print_friendly_all}
		</div>
		<div class="row">
		<div class="col-md-4">&nbsp;</div>
		<div class="col-md-8">
			<label for="printPage{$id}">
				<input name="printScope" id="printPage{$id}" type="radio" checked data-href="candidates_view_print.php?{$crosstable_attrs}">
				Print this page			</label>
		</div>
	</div>
		
	</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
										">
									<div>
	<label for="printPerPage{$id}">
					Groups per page							
	</label>
	<input type="number" id="printPerPage{$id}" value="{$print_recspp}" class="rnr-printrecspp">		
</div>
				 
					</li>
											<li class="divider" role="separator"></li>
																				 
				 
					<li class="container-fluid 
					 text-center 					">
									<span data-itemtype="print_button" data-itemid="print_button" {$item_print_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" id="print_friendly_button{$id}" >
							Print			</a>
</span>
				 
					</li>
															</ul>
</span>
{END print_friendly}
		</div>					</div>
			</div>		
{END above-grid_block}
	</div>
<div class="r-grid">
	{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
					{BEGIN grid_block}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}<style>
	td.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary.pagesummary {
		background-color: #ffffbb;
	}
	td.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary.globalsummary {background-color: #ffe0b0;
	}
	.rnr-report {
		width: 100%;
	}
			td.group_1{
			background-color: #90ee90;
		}
		td.nbgroup_1{
			background-color: #90ee90;
		}
		td.header_1 {
			background-color: #90ee90; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_2{
			background-color: #add8e6;
		}
		td.nbgroup_2{
			background-color: #add8e6;
		}
		td.header_2 {
			background-color: #add8e6; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_3{
			background-color: #ffb6c1;
		}
		td.nbgroup_3{
			background-color: #ffb6c1;
		}
		td.header_3 {
			background-color: #ffb6c1; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_4{
			background-color: #fffacd;
		}
		td.nbgroup_4{
			background-color: #fffacd;
		}
		td.header_4 {
			background-color: #fffacd; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_5{
			background-color: #7fffd4;
		}
		td.nbgroup_5{
			background-color: #7fffd4;
		}
		td.header_5 {
			background-color: #7fffd4; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_6{
			background-color: #b0e0e6;
		}
		td.nbgroup_6{
			background-color: #b0e0e6;
		}
		td.header_6 {
			background-color: #b0e0e6; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_7{
			background-color: #fa8072;
		}
		td.nbgroup_7{
			background-color: #fa8072;
		}
		td.header_7 {
			background-color: #fa8072; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_8{
			background-color: #fff8dc;
		}
		td.nbgroup_8{
			background-color: #fff8dc;
		}
		td.header_8 {
			background-color: #fff8dc; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_9{
			background-color: #adff2f;
		}
		td.nbgroup_9{
			background-color: #adff2f;
		}
		td.header_9 {
			background-color: #adff2f; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_10{
			background-color: #e0ffff;
		}
		td.nbgroup_10{
			background-color: #e0ffff;
		}
		td.header_10 {
			background-color: #e0ffff; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_11{
			background-color: #ffa07a;
		}
		td.nbgroup_11{
			background-color: #ffa07a;
		}
		td.header_11 {
			background-color: #ffa07a; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_12{
			background-color: #ffdead;
		}
		td.nbgroup_12{
			background-color: #ffdead;
		}
		td.header_12 {
			background-color: #ffdead; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_13{
			background-color: #90ee90;
		}
		td.nbgroup_13{
			background-color: #90ee90;
		}
		td.header_13 {
			background-color: #90ee90; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_14{
			background-color: #add8e6;
		}
		td.nbgroup_14{
			background-color: #add8e6;
		}
		td.header_14 {
			background-color: #add8e6; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_15{
			background-color: #ffb6c1;
		}
		td.nbgroup_15{
			background-color: #ffb6c1;
		}
		td.header_15 {
			background-color: #ffb6c1; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_16{
			background-color: #fffacd;
		}
		td.nbgroup_16{
			background-color: #fffacd;
		}
		td.header_16 {
			background-color: #fffacd; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_17{
			background-color: #7fffd4;
		}
		td.nbgroup_17{
			background-color: #7fffd4;
		}
		td.header_17 {
			background-color: #7fffd4; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_18{
			background-color: #b0e0e6;
		}
		td.nbgroup_18{
			background-color: #b0e0e6;
		}
		td.header_18 {
			background-color: #b0e0e6; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
			td.group_19{
			background-color: #fa8072;
		}
		td.nbgroup_19{
			background-color: #fa8072;
		}
		td.header_19 {
			background-color: #fa8072; 
			font-size: 120%;
			padding: 2px 8px;
			font-weight: bold;
		}
		td.blackshade {
		font-size: 120%;
	}
	.summaryrow > * {
		border:solid #808080 1px; 
		border-left: none; 
		border-right: none;
	}
		.grouptotalsrow + :not(.grouptotalsrow) > * {
		border-top:solid #808080 1px; 
	}
	</style>

<div class="rnr-cw-grid rnr-s-2 asbuttons {$pageStyleName}" data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" >
						<table id="crossTable{$id}" class="bs-crosstab table table-striped">
		<thead>
			{BEGIN grid_header}
			<tr>
				<th class="bs-cross-datasel">
				<div class="form-inline">
					{$select_group}
					{$select_data}
				</div>
				</th>
				<th class="bs-cross-xsel" {$xselcell_attrs}>
					{$select_group_x}
				</th>
				{BEGIN cross_totals}
				<th class="r-top-cross-row bs-cross-xsel">&nbsp;</th>
				{END cross_totals}
			</tr>
			<tr class="bs-cross-colheaders">
				<th >{$select_group_y}</th>
				{BEGIN group_header}
				<th class="bs-cross-colheadercell {$gr_x_class}">{$gr_value}</th>
				{END group_header}
				{BEGIN cross_totals}
				<th class="bs-cross-colheadercell bs-cross-totalsname" id="totals1_{$id}">{$totals}</th>
				{END cross_totals}
			</tr>
			{END grid_header}
		</thead>
		<tbody>		
	{BEGIN grid_row}
			<tr>
				<td class="bs-cross-rowheadercell {$gr_y_class}">{$group_y}</td>
				{BEGIN row_record}
					<td  id="{$id_data}_{$id}" class="{$row_value_class}">{$row_value}</td>
				{END row_record}
				{BEGIN cross_totals}
				<td class="bs-cross-rowsummary {$summary_class}" id="{$id_row_summary}_{$id}">{$row_summary}</td>
				{END cross_totals}
			</tr>
	{END grid_row}

		{BEGIN cross_totals}
			<tr class="bs-cross-colsummary" >
				<td  class="bs-cross-rowheadercell bs-cross-totalsname" id="totals2_{$id}">{$totals}</td>
				{BEGIN col_summary}
					<td id="{$id_col_summary}_{$id}" class="bs-cross-colsummary {$summary_class}">{$col_summary}</td>
				{END col_summary}
				<td id="id_total_summary_{$id}" class="bs-cross-totalsummary {$summary_class}">{$total_summary}</td>
			</tr>
		{END cross_totals}		
		</tbody>	
	</table>		</div>
	{END grid_block}	</div>
<div class="r-below">
					{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c5" data-pageid="{$pageid}"	{$cell_below-grid_c5}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		<span data-itemtype="text" data-itemid="text" {$item_text} data-pageid="{$pageid}" data-small > 
	<p><strong>Search to Filter Report using the Search Panel</strong></p></span>
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c3" data-pageid="{$pageid}"	{$cell_below-grid_c3}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		<div data-itemtype="filter_panel" data-itemid="filter_panel" {$item_filter_panel} data-pageid="{$pageid}">
	<div class="filterPanelContainer {$filterPanelStateClass}" 
					data-horizontal
			>
	<!-- Begin Filter panel content -->



	<!-- End Filter panel content -->
	</div>
</div>		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c4" data-pageid="{$pageid}"	{$cell_below-grid_c4}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}"			data-horizontal
	 >
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


																		{BEGIN searchCtrlBlock_Attend_Employability_Skill}


		<div class="form-group srchPanelRow {$filterRow_class_Attend_Employability_Skill}" {$filterRow_attrs_Attend_Employability_Skill}>
			<label>{$label candidates_view Attend_Employability_Skill }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Attend_Employability_Skill}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Attend_Employability_Skill}</span>
						</div>
		{END searchCtrlBlock_Attend_Employability_Skill}
																{BEGIN searchCtrlBlock_Placement_Duration}


		<div class="form-group srchPanelRow {$filterRow_class_Placement_Duration}" {$filterRow_attrs_Placement_Duration}>
			<label>{$label candidates_view Placement_Duration }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Placement_Duration}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Placement_Duration}</span>
						</div>
		{END searchCtrlBlock_Placement_Duration}
																{BEGIN searchCtrlBlock_Placement_Type}


		<div class="form-group srchPanelRow {$filterRow_class_Placement_Type}" {$filterRow_attrs_Placement_Type}>
			<label>{$label candidates_view Placement_Type }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Placement_Type}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Placement_Type}</span>
						</div>
		{END searchCtrlBlock_Placement_Type}
																{BEGIN searchCtrlBlock_Career_Level_Of_Payment}


		<div class="form-group srchPanelRow {$filterRow_class_Career_Level_Of_Payment}" {$filterRow_attrs_Career_Level_Of_Payment}>
			<label>{$label candidates_view Career_Level_Of_Payment }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Career_Level_Of_Payment}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Career_Level_Of_Payment}</span>
						</div>
		{END searchCtrlBlock_Career_Level_Of_Payment}
																{BEGIN searchCtrlBlock_Salary}


		<div class="form-group srchPanelRow {$filterRow_class_Salary}" {$filterRow_attrs_Salary}>
			<label>{$label candidates_view Salary }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Salary}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Salary}</span>
						</div>
		{END searchCtrlBlock_Salary}
																{BEGIN searchCtrlBlock_Employer_Sector}


		<div class="form-group srchPanelRow {$filterRow_class_Employer_Sector}" {$filterRow_attrs_Employer_Sector}>
			<label>{$label candidates_view Employer_Sector }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Employer_Sector}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Employer_Sector}</span>
						</div>
		{END searchCtrlBlock_Employer_Sector}
																{BEGIN searchCtrlBlock_Kebele}


		<div class="form-group srchPanelRow {$filterRow_class_Kebele}" {$filterRow_attrs_Kebele}>
			<label>{$label candidates_view Kebele }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Kebele}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Kebele}</span>
						</div>
		{END searchCtrlBlock_Kebele}
																{BEGIN searchCtrlBlock_Woreda}


		<div class="form-group srchPanelRow {$filterRow_class_Woreda}" {$filterRow_attrs_Woreda}>
			<label>{$label candidates_view Woreda }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Woreda}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Woreda}</span>
						</div>
		{END searchCtrlBlock_Woreda}
																{BEGIN searchCtrlBlock_Zone}


		<div class="form-group srchPanelRow {$filterRow_class_Zone}" {$filterRow_attrs_Zone}>
			<label>{$label candidates_view Zone }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Zone}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Zone}</span>
						</div>
		{END searchCtrlBlock_Zone}
																{BEGIN searchCtrlBlock_Year_of_graduation}


		<div class="form-group srchPanelRow {$filterRow_class_Year_of_graduation}" {$filterRow_attrs_Year_of_graduation}>
			<label>{$label candidates_view Year_of_graduation }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Year_of_graduation}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Year_of_graduation}</span>
						</div>
		{END searchCtrlBlock_Year_of_graduation}
																{BEGIN searchCtrlBlock_Work_Experience}


		<div class="form-group srchPanelRow {$filterRow_class_Work_Experience}" {$filterRow_attrs_Work_Experience}>
			<label>{$label candidates_view Work_Experience }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Work_Experience}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Work_Experience}</span>
						</div>
		{END searchCtrlBlock_Work_Experience}
																{BEGIN searchCtrlBlock_Upload_on_Tracker}


		<div class="form-group srchPanelRow {$filterRow_class_Upload_on_Tracker}" {$filterRow_attrs_Upload_on_Tracker}>
			<label>{$label candidates_view Upload_on_Tracker }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Upload_on_Tracker}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Upload_on_Tracker}</span>
						</div>
		{END searchCtrlBlock_Upload_on_Tracker}
																{BEGIN searchCtrlBlock_Sub_City}


		<div class="form-group srchPanelRow {$filterRow_class_Sub_City}" {$filterRow_attrs_Sub_City}>
			<label>{$label candidates_view Sub_City }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Sub_City}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Sub_City}</span>
						</div>
		{END searchCtrlBlock_Sub_City}
																{BEGIN searchCtrlBlock_StudentID}


		<div class="form-group srchPanelRow {$filterRow_class_StudentID}" {$filterRow_attrs_StudentID}>
			<label>{$label candidates_view StudentID }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_StudentID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_StudentID}</span>
						</div>
		{END searchCtrlBlock_StudentID}
																{BEGIN searchCtrlBlock_Skills}


		<div class="form-group srchPanelRow {$filterRow_class_Skills}" {$filterRow_attrs_Skills}>
			<label>{$label candidates_view Skills }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Skills}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Skills}</span>
						</div>
		{END searchCtrlBlock_Skills}
																{BEGIN searchCtrlBlock_Sex}


		<div class="form-group srchPanelRow {$filterRow_class_Sex}" {$filterRow_attrs_Sex}>
			<label>{$label candidates_view Sex }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Sex}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Sex}</span>
						</div>
		{END searchCtrlBlock_Sex}
																{BEGIN searchCtrlBlock_Remark}


		<div class="form-group srchPanelRow {$filterRow_class_Remark}" {$filterRow_attrs_Remark}>
			<label>{$label candidates_view Remark }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Remark}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Remark}</span>
						</div>
		{END searchCtrlBlock_Remark}
																{BEGIN searchCtrlBlock_Region}


		<div class="form-group srchPanelRow {$filterRow_class_Region}" {$filterRow_attrs_Region}>
			<label>{$label candidates_view Region }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Region}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Region}</span>
						</div>
		{END searchCtrlBlock_Region}
																{BEGIN searchCtrlBlock_Phone_Number_Alternate}


		<div class="form-group srchPanelRow {$filterRow_class_Phone_Number_Alternate}" {$filterRow_attrs_Phone_Number_Alternate}>
			<label>{$label candidates_view Phone_Number_Alternate }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Phone_Number_Alternate}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Phone_Number_Alternate}</span>
						</div>
		{END searchCtrlBlock_Phone_Number_Alternate}
																{BEGIN searchCtrlBlock_Phone_Number}


		<div class="form-group srchPanelRow {$filterRow_class_Phone_Number}" {$filterRow_attrs_Phone_Number}>
			<label>{$label candidates_view Phone_Number }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Phone_Number}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Phone_Number}</span>
						</div>
		{END searchCtrlBlock_Phone_Number}
																{BEGIN searchCtrlBlock_Minor}


		<div class="form-group srchPanelRow {$filterRow_class_Minor}" {$filterRow_attrs_Minor}>
			<label>{$label candidates_view Minor }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Minor}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Minor}</span>
						</div>
		{END searchCtrlBlock_Minor}
																{BEGIN searchCtrlBlock_Middle_Name}


		<div class="form-group srchPanelRow {$filterRow_class_Middle_Name}" {$filterRow_attrs_Middle_Name}>
			<label>{$label candidates_view Middle_Name }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Middle_Name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Middle_Name}</span>
						</div>
		{END searchCtrlBlock_Middle_Name}
																{BEGIN searchCtrlBlock_Major}


		<div class="form-group srchPanelRow {$filterRow_class_Major}" {$filterRow_attrs_Major}>
			<label>{$label candidates_view Major }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Major}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Major}</span>
						</div>
		{END searchCtrlBlock_Major}
																{BEGIN searchCtrlBlock_Last_Name}


		<div class="form-group srchPanelRow {$filterRow_class_Last_Name}" {$filterRow_attrs_Last_Name}>
			<label>{$label candidates_view Last_Name }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Last_Name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Last_Name}</span>
						</div>
		{END searchCtrlBlock_Last_Name}
																{BEGIN searchCtrlBlock_Languages}


		<div class="form-group srchPanelRow {$filterRow_class_Languages}" {$filterRow_attrs_Languages}>
			<label>{$label candidates_view Languages }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Languages}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Languages}</span>
						</div>
		{END searchCtrlBlock_Languages}
																{BEGIN searchCtrlBlock_Joined_Dereja_Services}


		<div class="form-group srchPanelRow {$filterRow_class_Joined_Dereja_Services}" {$filterRow_attrs_Joined_Dereja_Services}>
			<label>{$label candidates_view Joined_Dereja_Services }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Joined_Dereja_Services}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Joined_Dereja_Services}</span>
						</div>
		{END searchCtrlBlock_Joined_Dereja_Services}
																{BEGIN searchCtrlBlock_Job_Fair_Clinic}


		<div class="form-group srchPanelRow {$filterRow_class_Job_Fair_Clinic}" {$filterRow_attrs_Job_Fair_Clinic}>
			<label>{$label candidates_view Job_Fair_Clinic }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Job_Fair_Clinic}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Job_Fair_Clinic}</span>
						</div>
		{END searchCtrlBlock_Job_Fair_Clinic}
																{BEGIN searchCtrlBlock_Job_Fair}


		<div class="form-group srchPanelRow {$filterRow_class_Job_Fair}" {$filterRow_attrs_Job_Fair}>
			<label>{$label candidates_view Job_Fair }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Job_Fair}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Job_Fair}</span>
						</div>
		{END searchCtrlBlock_Job_Fair}
																{BEGIN searchCtrlBlock_Intervention}


		<div class="form-group srchPanelRow {$filterRow_class_Intervention}" {$filterRow_attrs_Intervention}>
			<label>{$label candidates_view Intervention }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Intervention}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Intervention}</span>
						</div>
		{END searchCtrlBlock_Intervention}
																{BEGIN searchCtrlBlock_Institution_Type}


		<div class="form-group srchPanelRow {$filterRow_class_Institution_Type}" {$filterRow_attrs_Institution_Type}>
			<label>{$label candidates_view Institution_Type }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Institution_Type}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Institution_Type}</span>
						</div>
		{END searchCtrlBlock_Institution_Type}
																{BEGIN searchCtrlBlock_Institution_Name}


		<div class="form-group srchPanelRow {$filterRow_class_Institution_Name}" {$filterRow_attrs_Institution_Name}>
			<label>{$label candidates_view Institution_Name }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Institution_Name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Institution_Name}</span>
						</div>
		{END searchCtrlBlock_Institution_Name}
																{BEGIN searchCtrlBlock_Industry_Specific_Skills}


		<div class="form-group srchPanelRow {$filterRow_class_Industry_Specific_Skills}" {$filterRow_attrs_Industry_Specific_Skills}>
			<label>{$label candidates_view Industry_Specific_Skills }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Industry_Specific_Skills}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Industry_Specific_Skills}</span>
						</div>
		{END searchCtrlBlock_Industry_Specific_Skills}
																{BEGIN searchCtrlBlock_IT_Related_Skills}


		<div class="form-group srchPanelRow {$filterRow_class_IT_Related_Skills}" {$filterRow_attrs_IT_Related_Skills}>
			<label>{$label candidates_view IT_Related_Skills }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_IT_Related_Skills}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_IT_Related_Skills}</span>
						</div>
		{END searchCtrlBlock_IT_Related_Skills}
																{BEGIN searchCtrlBlock_House_No}


		<div class="form-group srchPanelRow {$filterRow_class_House_No}" {$filterRow_attrs_House_No}>
			<label>{$label candidates_view House_No }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_House_No}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_House_No}</span>
						</div>
		{END searchCtrlBlock_House_No}
																{BEGIN searchCtrlBlock_GPA}


		<div class="form-group srchPanelRow {$filterRow_class_GPA}" {$filterRow_attrs_GPA}>
			<label>{$label candidates_view GPA }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_GPA}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_GPA}</span>
						</div>
		{END searchCtrlBlock_GPA}
																{BEGIN searchCtrlBlock_First_Name}


		<div class="form-group srchPanelRow {$filterRow_class_First_Name}" {$filterRow_attrs_First_Name}>
			<label>{$label candidates_view First_Name }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_First_Name}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_First_Name}</span>
						</div>
		{END searchCtrlBlock_First_Name}
																{BEGIN searchCtrlBlock_Field_Of_Study}


		<div class="form-group srchPanelRow {$filterRow_class_Field_Of_Study}" {$filterRow_attrs_Field_Of_Study}>
			<label>{$label candidates_view Field_Of_Study }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Field_Of_Study}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Field_Of_Study}</span>
						</div>
		{END searchCtrlBlock_Field_Of_Study}
																{BEGIN searchCtrlBlock_Exit_Exam_Status}


		<div class="form-group srchPanelRow {$filterRow_class_Exit_Exam_Status}" {$filterRow_attrs_Exit_Exam_Status}>
			<label>{$label candidates_view Exit_Exam_Status }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Exit_Exam_Status}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Exit_Exam_Status}</span>
						</div>
		{END searchCtrlBlock_Exit_Exam_Status}
																{BEGIN searchCtrlBlock_Exit_Exam_Score}


		<div class="form-group srchPanelRow {$filterRow_class_Exit_Exam_Score}" {$filterRow_attrs_Exit_Exam_Score}>
			<label>{$label candidates_view Exit_Exam_Score }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Exit_Exam_Score}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Exit_Exam_Score}</span>
						</div>
		{END searchCtrlBlock_Exit_Exam_Score}
																{BEGIN searchCtrlBlock_Enrollement_Type}


		<div class="form-group srchPanelRow {$filterRow_class_Enrollement_Type}" {$filterRow_attrs_Enrollement_Type}>
			<label>{$label candidates_view Enrollement_Type }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Enrollement_Type}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Enrollement_Type}</span>
						</div>
		{END searchCtrlBlock_Enrollement_Type}
																{BEGIN searchCtrlBlock_English_Proficiency_Level}


		<div class="form-group srchPanelRow {$filterRow_class_English_Proficiency_Level}" {$filterRow_attrs_English_Proficiency_Level}>
			<label>{$label candidates_view English_Proficiency_Level }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_English_Proficiency_Level}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_English_Proficiency_Level}</span>
						</div>
		{END searchCtrlBlock_English_Proficiency_Level}
																{BEGIN searchCtrlBlock_Employment_Status}


		<div class="form-group srchPanelRow {$filterRow_class_Employment_Status}" {$filterRow_attrs_Employment_Status}>
			<label>{$label candidates_view Employment_Status }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Employment_Status}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Employment_Status}</span>
						</div>
		{END searchCtrlBlock_Employment_Status}
																{BEGIN searchCtrlBlock_Employment_Position}


		<div class="form-group srchPanelRow {$filterRow_class_Employment_Position}" {$filterRow_attrs_Employment_Position}>
			<label>{$label candidates_view Employment_Position }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Employment_Position}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Employment_Position}</span>
						</div>
		{END searchCtrlBlock_Employment_Position}
																{BEGIN searchCtrlBlock_Employment_Company}


		<div class="form-group srchPanelRow {$filterRow_class_Employment_Company}" {$filterRow_attrs_Employment_Company}>
			<label>{$label candidates_view Employment_Company }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Employment_Company}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Employment_Company}</span>
						</div>
		{END searchCtrlBlock_Employment_Company}
																{BEGIN searchCtrlBlock_Email_Address}


		<div class="form-group srchPanelRow {$filterRow_class_Email_Address}" {$filterRow_attrs_Email_Address}>
			<label>{$label candidates_view Email_Address }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Email_Address}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Email_Address}</span>
						</div>
		{END searchCtrlBlock_Email_Address}
																{BEGIN searchCtrlBlock_Education_Level}


		<div class="form-group srchPanelRow {$filterRow_class_Education_Level}" {$filterRow_attrs_Education_Level}>
			<label>{$label candidates_view Education_Level }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Education_Level}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Education_Level}</span>
						</div>
		{END searchCtrlBlock_Education_Level}
																{BEGIN searchCtrlBlock_Disability_Type_Other}


		<div class="form-group srchPanelRow {$filterRow_class_Disability_Type_Other}" {$filterRow_attrs_Disability_Type_Other}>
			<label>{$label candidates_view Disability_Type_Other }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Disability_Type_Other}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Disability_Type_Other}</span>
						</div>
		{END searchCtrlBlock_Disability_Type_Other}
																{BEGIN searchCtrlBlock_Disability_Type}


		<div class="form-group srchPanelRow {$filterRow_class_Disability_Type}" {$filterRow_attrs_Disability_Type}>
			<label>{$label candidates_view Disability_Type }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Disability_Type}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Disability_Type}</span>
						</div>
		{END searchCtrlBlock_Disability_Type}
																{BEGIN searchCtrlBlock_Disability_Status}


		<div class="form-group srchPanelRow {$filterRow_class_Disability_Status}" {$filterRow_attrs_Disability_Status}>
			<label>{$label candidates_view Disability_Status }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Disability_Status}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Disability_Status}</span>
						</div>
		{END searchCtrlBlock_Disability_Status}
																{BEGIN searchCtrlBlock_Dereja_web_profile_completion}


		<div class="form-group srchPanelRow {$filterRow_class_Dereja_web_profile_completion}" {$filterRow_attrs_Dereja_web_profile_completion}>
			<label>{$label candidates_view Dereja_web_profile_completion }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Dereja_web_profile_completion}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Dereja_web_profile_completion}</span>
						</div>
		{END searchCtrlBlock_Dereja_web_profile_completion}
																{BEGIN searchCtrlBlock_Dereja_Training_Services}


		<div class="form-group srchPanelRow {$filterRow_class_Dereja_Training_Services}" {$filterRow_attrs_Dereja_Training_Services}>
			<label>{$label candidates_view Dereja_Training_Services }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Dereja_Training_Services}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Dereja_Training_Services}</span>
						</div>
		{END searchCtrlBlock_Dereja_Training_Services}
																{BEGIN searchCtrlBlock_Dereja_Services}


		<div class="form-group srchPanelRow {$filterRow_class_Dereja_Services}" {$filterRow_attrs_Dereja_Services}>
			<label>{$label candidates_view Dereja_Services }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Dereja_Services}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Dereja_Services}</span>
						</div>
		{END searchCtrlBlock_Dereja_Services}
																{BEGIN searchCtrlBlock_Dereja_Information_Source}


		<div class="form-group srchPanelRow {$filterRow_class_Dereja_Information_Source}" {$filterRow_attrs_Dereja_Information_Source}>
			<label>{$label candidates_view Dereja_Information_Source }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Dereja_Information_Source}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Dereja_Information_Source}</span>
						</div>
		{END searchCtrlBlock_Dereja_Information_Source}
																{BEGIN searchCtrlBlock_Dereja_Event_Services}


		<div class="form-group srchPanelRow {$filterRow_class_Dereja_Event_Services}" {$filterRow_attrs_Dereja_Event_Services}>
			<label>{$label candidates_view Dereja_Event_Services }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Dereja_Event_Services}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Dereja_Event_Services}</span>
						</div>
		{END searchCtrlBlock_Dereja_Event_Services}
																{BEGIN searchCtrlBlock_Department}


		<div class="form-group srchPanelRow {$filterRow_class_Department}" {$filterRow_attrs_Department}>
			<label>{$label candidates_view Department }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Department}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Department}</span>
						</div>
		{END searchCtrlBlock_Department}
																{BEGIN searchCtrlBlock_DOB}


		<div class="form-group srchPanelRow {$filterRow_class_DOB}" {$filterRow_attrs_DOB}>
			<label>{$label candidates_view DOB }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_DOB}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DOB}</span>
						</div>
		{END searchCtrlBlock_DOB}
																{BEGIN searchCtrlBlock_DAAP_enrolled_2nd_Round}


		<div class="form-group srchPanelRow {$filterRow_class_DAAP_enrolled_2nd_Round}" {$filterRow_attrs_DAAP_enrolled_2nd_Round}>
			<label>{$label candidates_view DAAP_enrolled_2nd_Round }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_DAAP_enrolled_2nd_Round}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DAAP_enrolled_2nd_Round}</span>
						</div>
		{END searchCtrlBlock_DAAP_enrolled_2nd_Round}
																{BEGIN searchCtrlBlock_DAAP_enrolled_1st_Round}


		<div class="form-group srchPanelRow {$filterRow_class_DAAP_enrolled_1st_Round}" {$filterRow_attrs_DAAP_enrolled_1st_Round}>
			<label>{$label candidates_view DAAP_enrolled_1st_Round }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_DAAP_enrolled_1st_Round}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DAAP_enrolled_1st_Round}</span>
						</div>
		{END searchCtrlBlock_DAAP_enrolled_1st_Round}
																{BEGIN searchCtrlBlock_DAAP_Completed_Courses}


		<div class="form-group srchPanelRow {$filterRow_class_DAAP_Completed_Courses}" {$filterRow_attrs_DAAP_Completed_Courses}>
			<label>{$label candidates_view DAAP_Completed_Courses }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_DAAP_Completed_Courses}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DAAP_Completed_Courses}</span>
						</div>
		{END searchCtrlBlock_DAAP_Completed_Courses}
																{BEGIN searchCtrlBlock_DAAP_Completed}


		<div class="form-group srchPanelRow {$filterRow_class_DAAP_Completed}" {$filterRow_attrs_DAAP_Completed}>
			<label>{$label candidates_view DAAP_Completed }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_DAAP_Completed}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DAAP_Completed}</span>
						</div>
		{END searchCtrlBlock_DAAP_Completed}
																{BEGIN searchCtrlBlock_City}


		<div class="form-group srchPanelRow {$filterRow_class_City}" {$filterRow_attrs_City}>
			<label>{$label candidates_view City }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_City}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_City}</span>
						</div>
		{END searchCtrlBlock_City}
																{BEGIN searchCtrlBlock_Certifications}


		<div class="form-group srchPanelRow {$filterRow_class_Certifications}" {$filterRow_attrs_Certifications}>
			<label>{$label candidates_view Certifications }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Certifications}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Certifications}</span>
						</div>
		{END searchCtrlBlock_Certifications}
																{BEGIN searchCtrlBlock_CandidateID}


		<div class="form-group srchPanelRow {$filterRow_class_CandidateID}" {$filterRow_attrs_CandidateID}>
			<label>{$label candidates_view CandidateID }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_CandidateID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_CandidateID}</span>
						</div>
		{END searchCtrlBlock_CandidateID}
																{BEGIN searchCtrlBlock_Campaign}


		<div class="form-group srchPanelRow {$filterRow_class_Campaign}" {$filterRow_attrs_Campaign}>
			<label>{$label candidates_view Campaign }</label>

			
								<span class="rnr-searchtype" style="display: none;">{$searchtype_Campaign}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Campaign}</span>
						</div>
		{END searchCtrlBlock_Campaign}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary btn-sm" id="searchButton{$id}" {$searchbutton_attrs}>Search</button>

				<button class="btn btn-default btn-sm" {$showAllCont_attrs} {$showallbutton_attrs}>Show all</button>
	</div>
</div>
<!-- End Search panel content -->
		</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c" data-pageid="{$pageid}"	{$cell_below-grid_c}
	class="r-align-center r-ori-vert			col-md-12
	
">
			</div>					</div>
			 
				<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
			</div>		
{END below-grid_block}
	</div>




										{$footer}
				</div>
			</div>
			<div class="r-body-shadow">
			</div>
		</div>
	{END body}
	</body>
</html>
