<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel event_profile view}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN ID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_ID}  r-vertical-field" data-fieldname="ID" data-signal-error-for="ID{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="ID" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_ID}">
		
		{BEGIN ID_label}{$label event_profile ID }{END ID_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$ID_value}	</div>

		
</div>


{END ID_fieldblock}
											
{BEGIN First_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_First_Name}  r-vertical-field" data-fieldname="First Name" data-signal-error-for="First_Name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="First_Name" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_First_Name}">
		
		{BEGIN First_Name_label}{$label event_profile First_Name }{END First_Name_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$First_Name_value}	</div>

		
</div>


{END First_Name_fieldblock}
											
{BEGIN Middle_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Middle_Name}  r-vertical-field" data-fieldname="Middle Name" data-signal-error-for="Middle_Name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Middle_Name" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Middle_Name}">
		
		{BEGIN Middle_Name_label}{$label event_profile Middle_Name }{END Middle_Name_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Middle_Name_value}	</div>

		
</div>


{END Middle_Name_fieldblock}
											
{BEGIN Last_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Last_Name}  r-vertical-field" data-fieldname="Last Name" data-signal-error-for="Last_Name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Last_Name" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Last_Name}">
		
		{BEGIN Last_Name_label}{$label event_profile Last_Name }{END Last_Name_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Last_Name_value}	</div>

		
</div>


{END Last_Name_fieldblock}
											
{BEGIN Sex_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sex}  r-vertical-field" data-fieldname="Sex" data-signal-error-for="Sex{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Sex" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Sex}">
		
		{BEGIN Sex_label}{$label event_profile Sex }{END Sex_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Sex_value}	</div>

		
</div>


{END Sex_fieldblock}
											
{BEGIN Event_start_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Event_start_date}  r-vertical-field" data-fieldname="Event start date" data-signal-error-for="Event_start_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Event_start_date" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Event_start_date}">
		
		{BEGIN Event_start_date_label}{$label event_profile Event_start_date }{END Event_start_date_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Event_start_date_value}	</div>

		
</div>


{END Event_start_date_fieldblock}
											
{BEGIN Event_end_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Event_end_date}  r-vertical-field" data-fieldname="Event end date" data-signal-error-for="Event_end_date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Event_end_date" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Event_end_date}">
		
		{BEGIN Event_end_date_label}{$label event_profile Event_end_date }{END Event_end_date_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Event_end_date_value}	</div>

		
</div>


{END Event_end_date_fieldblock}
											
{BEGIN Event_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Event_Name}  r-vertical-field" data-fieldname="Event Name" data-signal-error-for="Event_Name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Event_Name" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Event_Name}">
		
		{BEGIN Event_Name_label}{$label event_profile Event_Name }{END Event_Name_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Event_Name_value}	</div>

		
</div>


{END Event_Name_fieldblock}
											
{BEGIN Region_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Region}  r-vertical-field" data-fieldname="Region" data-signal-error-for="Region{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Region" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Region}">
		
		{BEGIN Region_label}{$label event_profile Region }{END Region_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Region_value}	</div>

		
</div>


{END Region_fieldblock}
											
{BEGIN City_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_City}  r-vertical-field" data-fieldname="City" data-signal-error-for="City{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="City" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_City}">
		
		{BEGIN City_label}{$label event_profile City }{END City_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$City_value}	</div>

		
</div>


{END City_fieldblock}
											
{BEGIN Participant_Profession_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Profession}  r-vertical-field" data-fieldname="Participant Profession" data-signal-error-for="Participant_Profession{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Participant_Profession" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Participant_Profession}">
		
		{BEGIN Participant_Profession_label}{$label event_profile Participant_Profession }{END Participant_Profession_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Participant_Profession_value}	</div>

		
</div>


{END Participant_Profession_fieldblock}
											
{BEGIN Participant_Field_of_Study_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Field_of_Study}  r-vertical-field" data-fieldname="Participant Field of Study" data-signal-error-for="Participant_Field_of_Study{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="Participant_Field_of_Study" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Participant_Field_of_Study}">
		
		{BEGIN Participant_Field_of_Study_label}{$label event_profile Participant_Field_of_Study }{END Participant_Field_of_Study_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Participant_Field_of_Study_value}	</div>

		
</div>


{END Participant_Field_of_Study_fieldblock}
											
{BEGIN Participant_Organization_Type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Organization_Type}  r-vertical-field" data-fieldname="Participant Organization Type" data-signal-error-for="Participant_Organization_Type{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Participant_Organization_Type" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Participant_Organization_Type}">
		
		{BEGIN Participant_Organization_Type_label}{$label event_profile Participant_Organization_Type }{END Participant_Organization_Type_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Participant_Organization_Type_value}	</div>

		
</div>


{END Participant_Organization_Type_fieldblock}
											
{BEGIN Participant_Organization_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Organization_Name}  r-vertical-field" data-fieldname="Participant Organization Name" data-signal-error-for="Participant_Organization_Name{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Participant_Organization_Name" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Participant_Organization_Name}">
		
		{BEGIN Participant_Organization_Name_label}{$label event_profile Participant_Organization_Name }{END Participant_Organization_Name_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Participant_Organization_Name_value}	</div>

		
</div>


{END Participant_Organization_Name_fieldblock}
											
{BEGIN Participant_Home_Address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Home_Address}  r-vertical-field" data-fieldname="Participant Home Address" data-signal-error-for="Participant_Home_Address{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Participant_Home_Address" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Participant_Home_Address}">
		
		{BEGIN Participant_Home_Address_label}{$label event_profile Participant_Home_Address }{END Participant_Home_Address_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Participant_Home_Address_value}	</div>

		
</div>


{END Participant_Home_Address_fieldblock}
											
{BEGIN Phone_Number_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Phone_Number}  r-vertical-field" data-fieldname="Phone Number" data-signal-error-for="Phone_Number{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="Phone_Number" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Phone_Number}">
		
		{BEGIN Phone_Number_label}{$label event_profile Phone_Number }{END Phone_Number_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Phone_Number_value}	</div>

		
</div>


{END Phone_Number_fieldblock}
											
{BEGIN Email_Address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Email_Address}  r-vertical-field" data-fieldname="Email Address" data-signal-error-for="Email_Address{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="Email_Address" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Email_Address}">
		
		{BEGIN Email_Address_label}{$label event_profile Email_Address }{END Email_Address_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Email_Address_value}	</div>

		
</div>


{END Email_Address_fieldblock}
											
{BEGIN Disablity_Status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Disablity_Status}  r-vertical-field" data-fieldname="Disablity Status" data-signal-error-for="Disablity_Status{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="Disablity_Status" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Disablity_Status}">
		
		{BEGIN Disablity_Status_label}{$label event_profile Disablity_Status }{END Disablity_Status_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Disablity_Status_value}	</div>

		
</div>


{END Disablity_Status_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				
{BEGIN details_training_profile}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption training_profile }				
							<span>
					{$detailslButtons_training_profile}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_training_profile}
		</div>
	</div>
</div>
{END details_training_profile}
	
				{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	">
	 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Close window			</a>
</span>
{END close_button}
	</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	">
	 
		<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
	 
		<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="event_profile_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
