<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-view" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  r-ori-vert navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
													</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="view_header" data-itemid="view_header" {$item_view_header} data-pageid="{$pageid}" >{$pagetitlelabel trainings view}</h2>
		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}




 
	 
												
{BEGIN details_}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption training_profile }				
							<span>
					{$detailslButtons_}
																															</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_}
		</div>
	</div>
</div>
{END details_}
											<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN TrainingID_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TrainingID}  r-vertical-field" data-fieldname="TrainingID" data-signal-error-for="TrainingID{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="TrainingID" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_TrainingID}">
		
		{BEGIN TrainingID_label}{$label trainings TrainingID }{END TrainingID_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$TrainingID_value}	</div>

		
</div>


{END TrainingID_fieldblock}
											
{BEGIN Training_Start_Date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Training_Start_Date}  r-vertical-field" data-fieldname="Training_Start_Date" data-signal-error-for="Training_Start_Date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="Training_Start_Date" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Training_Start_Date}">
		
		{BEGIN Training_Start_Date_label}{$label trainings Training_Start_Date }{END Training_Start_Date_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Training_Start_Date_value}	</div>

		
</div>


{END Training_Start_Date_fieldblock}
											
{BEGIN Training_End_Date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Training_End_Date}  r-vertical-field" data-fieldname="Training_End_Date" data-signal-error-for="Training_End_Date{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Training_End_Date" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Training_End_Date}">
		
		{BEGIN Training_End_Date_label}{$label trainings Training_End_Date }{END Training_End_Date_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Training_End_Date_value}	</div>

		
</div>


{END Training_End_Date_fieldblock}
											
{BEGIN TrainingTitle_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TrainingTitle}  r-vertical-field" data-fieldname="TrainingTitle" data-signal-error-for="TrainingTitle{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="TrainingTitle" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_TrainingTitle}">
		
		{BEGIN TrainingTitle_label}{$label trainings TrainingTitle }{END TrainingTitle_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$TrainingTitle_value}	</div>

		
</div>


{END TrainingTitle_fieldblock}
											
{BEGIN TypeName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TypeName}  r-vertical-field" data-fieldname="TypeName" data-signal-error-for="TypeName{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="TypeName" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_TypeName}">
		
		{BEGIN TypeName_label}{$label trainings TypeName }{END TypeName_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$TypeName_value}	</div>

		
</div>


{END TypeName_fieldblock}
											
{BEGIN OrganizerName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_OrganizerName}  r-vertical-field" data-fieldname="OrganizerName" data-signal-error-for="OrganizerName{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="OrganizerName" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_OrganizerName}">
		
		{BEGIN OrganizerName_label}{$label trainings OrganizerName }{END OrganizerName_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$OrganizerName_value}	</div>

		
</div>


{END OrganizerName_fieldblock}
											
{BEGIN CityTownName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_CityTownName}  r-vertical-field" data-fieldname="CityTownName" data-signal-error-for="CityTownName{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="CityTownName" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_CityTownName}">
		
		{BEGIN CityTownName_label}{$label trainings CityTownName }{END CityTownName_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$CityTownName_value}	</div>

		
</div>


{END CityTownName_fieldblock}
											
{BEGIN VenueName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_VenueName}  r-vertical-field" data-fieldname="VenueName" data-signal-error-for="VenueName{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="VenueName" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_VenueName}">
		
		{BEGIN VenueName_label}{$label trainings VenueName }{END VenueName_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$VenueName_value}	</div>

		
</div>


{END VenueName_fieldblock}
											
{BEGIN Trainer_FullName_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Trainer_FullName}  r-vertical-field" data-fieldname="Trainer_FullName" data-signal-error-for="Trainer_FullName{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Trainer_FullName" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_Trainer_FullName}">
		
		{BEGIN Trainer_FullName_label}{$label trainings Trainer_FullName }{END Trainer_FullName_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$Trainer_FullName_value}	</div>

		
</div>


{END Trainer_FullName_fieldblock}
											
{BEGIN TrainingRound_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TrainingRound}  r-vertical-field" data-fieldname="TrainingRound" data-signal-error-for="TrainingRound{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="TrainingRound" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_TrainingRound}">
		
		{BEGIN TrainingRound_label}{$label trainings TrainingRound }{END TrainingRound_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$TrainingRound_value}	</div>

		
</div>


{END TrainingRound_fieldblock}
											
{BEGIN TrainingNote_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_TrainingNote}  r-vertical-field" data-fieldname="TrainingNote" data-signal-error-for="TrainingNote{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="TrainingNote" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_TrainingNote}">
		
		{BEGIN TrainingNote_label}{$label trainings TrainingNote }{END TrainingNote_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$TrainingNote_value}	</div>

		
</div>


{END TrainingNote_fieldblock}
											
{BEGIN program_areas_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_program_areas}  r-vertical-field" data-fieldname="program_areas" data-signal-error-for="program_areas{$id}" data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="program_areas" >

	
	<label class="col-md-offset-3 col-md-6" for="{$labelfor_program_areas}">
		
		{BEGIN program_areas_label}{$label trainings program_areas }{END program_areas_label}
	</label>
	<div class="col-md-offset-3 col-md-6" >
		{$program_areas_value}	</div>

		
</div>


{END program_areas_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				
{BEGIN details_training_participants}
<div data-itemtype="details_preview" data-itemid="details_preview1" {$item_details_preview1} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption training_participants }				
							<span>
					{$detailslButtons_training_participants}
																															</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_training_participants}
		</div>
	</div>
</div>
{END details_training_participants}
	
				{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-6
	
">
		 
		{BEGIN back_button}
<span data-itemtype="view_back_list" data-itemid="view_back_list" {$item_view_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN close_button}
<span data-itemtype="view_close" data-itemid="view_close" {$item_view_close} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" href="#" {$closebutton_attrs} >
							Close window			</a>
</span>
{END close_button}
		</div>			 
				<div 
	data-cellId="below-grid_c2" data-pageid="{$pageid}"	{$cell_below-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="prev" data-itemid="prev" {$item_prev} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$prevbutton_class}" {$prevbutton_attrs} >
					<span class="glyphicon glyphicon-menu-left"></span>
										</a>
</span>
	 
		<span data-itemtype="next" data-itemid="next" {$item_next} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	{$nextbutton_class}" {$nextbutton_attrs} >
					<span class="glyphicon glyphicon-menu-right"></span>
										</a>
</span>
	 
		<span data-itemtype="hamburger" data-itemid="hamburger" {$item_hamburger} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown dropup">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-menu-hamburger"></span>
									<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN edit_page_button}
	<li data-itemtype="view_edit" data-itemid="view_edit" {$item_view_edit} data-pageid="{$pageid}" data-small >
				<a  href="trainings1_edit.php?{$editlink}" {$edit_page_button_attrs}  title="" >
				
		Edit		
		</a>
	</li>
{END edit_page_button}
					</ul>
	</span>
</span>
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
