<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div data-resize-left="leftbar"  data-fixed class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  r-ori-vert navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
							 
													</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	
">
		 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel training_profile add}</h2>
		</div>					</div>
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	
">
		{BEGIN firstAboveGridCell}
		 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Back to list</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>View</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Edit</button>
{END edit_page_button}
</div>
</div>
{END message_block}			{END firstAboveGridCell}	
	</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}




 
	 
												<table 
	data-body-align="left"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN First_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_First_Name}  r-vertical-field" 
	data-fieldname="First Name" 
	data-signal-error-for="First_Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="First_Name" >


	<label class="r-edit-label control-label" for="{$labelfor_First_Name}">
		{BEGIN First_Name_label}{$label training_profile First_Name }{END First_Name_label}
	</label>
	<div class="r-edit-field">
		{$First_Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="First_Name">
		<div class="text-muted" >
		{$tooltip training_profile First_Name }		</div>
	</div>
</div>


{END First_Name_fieldblock}
											
{BEGIN Middle_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Middle_Name}  r-vertical-field" 
	data-fieldname="Middle Name" 
	data-signal-error-for="Middle_Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="Middle_Name" >


	<label class="r-edit-label control-label" for="{$labelfor_Middle_Name}">
		{BEGIN Middle_Name_label}{$label training_profile Middle_Name }{END Middle_Name_label}
	</label>
	<div class="r-edit-field">
		{$Middle_Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Middle_Name">
		<div class="text-muted" >
		{$tooltip training_profile Middle_Name }		</div>
	</div>
</div>


{END Middle_Name_fieldblock}
											
{BEGIN Last_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Last_Name}  r-vertical-field" 
	data-fieldname="Last Name" 
	data-signal-error-for="Last_Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="Last_Name" >


	<label class="r-edit-label control-label" for="{$labelfor_Last_Name}">
		{BEGIN Last_Name_label}{$label training_profile Last_Name }{END Last_Name_label}
	</label>
	<div class="r-edit-field">
		{$Last_Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Last_Name">
		<div class="text-muted" >
		{$tooltip training_profile Last_Name }		</div>
	</div>
</div>


{END Last_Name_fieldblock}
											
{BEGIN Sex_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sex}  r-vertical-field" 
	data-fieldname="Sex" 
	data-signal-error-for="Sex{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="Sex" >


	<label class="r-edit-label control-label" for="{$labelfor_Sex}">
		{BEGIN Sex_label}{$label training_profile Sex }{END Sex_label}
	</label>
	<div class="r-edit-field">
		{$Sex_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Sex">
		<div class="text-muted" >
		{$tooltip training_profile Sex }		</div>
	</div>
</div>


{END Sex_fieldblock}
											
{BEGIN Region_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Region}  r-vertical-field" 
	data-fieldname="Region" 
	data-signal-error-for="Region{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field8" {$item_integrated_edit_field8} data-pageid="{$pageid}" data-field="Region" >


	<label class="r-edit-label control-label" for="{$labelfor_Region}">
		{BEGIN Region_label}{$label training_profile Region }{END Region_label}
	</label>
	<div class="r-edit-field">
		{$Region_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Region">
		<div class="text-muted" >
		{$tooltip training_profile Region }		</div>
	</div>
</div>


{END Region_fieldblock}
											
{BEGIN City_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_City}  r-vertical-field" 
	data-fieldname="City" 
	data-signal-error-for="City{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field9" {$item_integrated_edit_field9} data-pageid="{$pageid}" data-field="City" >


	<label class="r-edit-label control-label" for="{$labelfor_City}">
		{BEGIN City_label}{$label training_profile City }{END City_label}
	</label>
	<div class="r-edit-field">
		{$City_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="City">
		<div class="text-muted" >
		{$tooltip training_profile City }		</div>
	</div>
</div>


{END City_fieldblock}
											
{BEGIN Participant_Profession_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Profession}  r-vertical-field" 
	data-fieldname="Participant Profession" 
	data-signal-error-for="Participant_Profession{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field10" {$item_integrated_edit_field10} data-pageid="{$pageid}" data-field="Participant_Profession" >


	<label class="r-edit-label control-label" for="{$labelfor_Participant_Profession}">
		{BEGIN Participant_Profession_label}{$label training_profile Participant_Profession }{END Participant_Profession_label}
	</label>
	<div class="r-edit-field">
		{$Participant_Profession_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Participant_Profession">
		<div class="text-muted" >
		{$tooltip training_profile Participant_Profession }		</div>
	</div>
</div>


{END Participant_Profession_fieldblock}
											
{BEGIN Participant_Field_of_Study_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Field_of_Study}  r-vertical-field" 
	data-fieldname="Participant Field of Study" 
	data-signal-error-for="Participant_Field_of_Study{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field11" {$item_integrated_edit_field11} data-pageid="{$pageid}" data-field="Participant_Field_of_Study" >


	<label class="r-edit-label control-label" for="{$labelfor_Participant_Field_of_Study}">
		{BEGIN Participant_Field_of_Study_label}{$label training_profile Participant_Field_of_Study }{END Participant_Field_of_Study_label}
	</label>
	<div class="r-edit-field">
		{$Participant_Field_of_Study_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Participant_Field_of_Study">
		<div class="text-muted" >
		{$tooltip training_profile Participant_Field_of_Study }		</div>
	</div>
</div>


{END Participant_Field_of_Study_fieldblock}
											
{BEGIN Participant_Organization_Name_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Organization_Name}  r-vertical-field" 
	data-fieldname="Participant Organization Name" 
	data-signal-error-for="Participant_Organization_Name{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field13" {$item_integrated_edit_field13} data-pageid="{$pageid}" data-field="Participant_Organization_Name" >


	<label class="r-edit-label control-label" for="{$labelfor_Participant_Organization_Name}">
		{BEGIN Participant_Organization_Name_label}{$label training_profile Participant_Organization_Name }{END Participant_Organization_Name_label}
	</label>
	<div class="r-edit-field">
		{$Participant_Organization_Name_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Participant_Organization_Name">
		<div class="text-muted" >
		{$tooltip training_profile Participant_Organization_Name }		</div>
	</div>
</div>


{END Participant_Organization_Name_fieldblock}
											
{BEGIN Participant_Home_Address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Home_Address}  r-vertical-field" 
	data-fieldname="Participant Home Address" 
	data-signal-error-for="Participant_Home_Address{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field14" {$item_integrated_edit_field14} data-pageid="{$pageid}" data-field="Participant_Home_Address" >


	<label class="r-edit-label control-label" for="{$labelfor_Participant_Home_Address}">
		{BEGIN Participant_Home_Address_label}{$label training_profile Participant_Home_Address }{END Participant_Home_Address_label}
	</label>
	<div class="r-edit-field">
		{$Participant_Home_Address_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Participant_Home_Address">
		<div class="text-muted" >
		{$tooltip training_profile Participant_Home_Address }		</div>
	</div>
</div>


{END Participant_Home_Address_fieldblock}
											
{BEGIN Phone_Number_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Phone_Number}  r-vertical-field" 
	data-fieldname="Phone Number" 
	data-signal-error-for="Phone_Number{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field15" {$item_integrated_edit_field15} data-pageid="{$pageid}" data-field="Phone_Number" >


	<label class="r-edit-label control-label" for="{$labelfor_Phone_Number}">
		{BEGIN Phone_Number_label}{$label training_profile Phone_Number }{END Phone_Number_label}
	</label>
	<div class="r-edit-field">
		{$Phone_Number_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Phone_Number">
		<div class="text-muted" >
		{$tooltip training_profile Phone_Number }		</div>
	</div>
</div>


{END Phone_Number_fieldblock}
											
{BEGIN Email_Address_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Email_Address}  r-vertical-field" 
	data-fieldname="Email Address" 
	data-signal-error-for="Email_Address{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field16" {$item_integrated_edit_field16} data-pageid="{$pageid}" data-field="Email_Address" >


	<label class="r-edit-label control-label" for="{$labelfor_Email_Address}">
		{BEGIN Email_Address_label}{$label training_profile Email_Address }{END Email_Address_label}
	</label>
	<div class="r-edit-field">
		{$Email_Address_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Email_Address">
		<div class="text-muted" >
		{$tooltip training_profile Email_Address }		</div>
	</div>
</div>


{END Email_Address_fieldblock}
											
{BEGIN Disablity_Status_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Disablity_Status}  r-vertical-field" 
	data-fieldname="Disablity Status" 
	data-signal-error-for="Disablity_Status{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field17" {$item_integrated_edit_field17} data-pageid="{$pageid}" data-field="Disablity_Status" >


	<label class="r-edit-label control-label" for="{$labelfor_Disablity_Status}">
		{BEGIN Disablity_Status_label}{$label training_profile Disablity_Status }{END Disablity_Status_label}
	</label>
	<div class="r-edit-field">
		{$Disablity_Status_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Disablity_Status">
		<div class="text-muted" >
		{$tooltip training_profile Disablity_Status }		</div>
	</div>
</div>


{END Disablity_Status_fieldblock}
											
{BEGIN Training_Organizer_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Training_Organizer}  r-vertical-field" 
	data-fieldname="Training Organizer" 
	data-signal-error-for="Training_Organizer{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="Training_Organizer" >


	<label class="r-edit-label control-label" for="{$labelfor_Training_Organizer}">
		{BEGIN Training_Organizer_label}{$label training_profile Training_Organizer }{END Training_Organizer_label}
	</label>
	<div class="r-edit-field">
		{$Training_Organizer_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Training_Organizer">
		<div class="text-muted" >
		{$tooltip training_profile Training_Organizer }		</div>
	</div>
</div>


{END Training_Organizer_fieldblock}
											
{BEGIN Training_Type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Training_Type}  r-vertical-field" 
	data-fieldname="Training Type" 
	data-signal-error-for="Training_Type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="Training_Type" >


	<label class="r-edit-label control-label" for="{$labelfor_Training_Type}">
		{BEGIN Training_Type_label}{$label training_profile Training_Type }{END Training_Type_label}
	</label>
	<div class="r-edit-field">
		{$Training_Type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Training_Type">
		<div class="text-muted" >
		{$tooltip training_profile Training_Type }		</div>
	</div>
</div>


{END Training_Type_fieldblock}
											
{BEGIN Program_Area_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Program_Area}  r-vertical-field" 
	data-fieldname="Program Area" 
	data-signal-error-for="Program_Area{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field6" {$item_integrated_edit_field6} data-pageid="{$pageid}" data-field="Program_Area" >


	<label class="r-edit-label control-label" for="{$labelfor_Program_Area}">
		{BEGIN Program_Area_label}{$label training_profile Program_Area }{END Program_Area_label}
	</label>
	<div class="r-edit-field">
		{$Program_Area_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Program_Area">
		<div class="text-muted" >
		{$tooltip training_profile Program_Area }		</div>
	</div>
</div>


{END Program_Area_fieldblock}
											
{BEGIN Training_City_Town_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Training_City_Town}  r-vertical-field" 
	data-fieldname="Training City Town" 
	data-signal-error-for="Training_City_Town{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field7" {$item_integrated_edit_field7} data-pageid="{$pageid}" data-field="Training_City_Town" >


	<label class="r-edit-label control-label" for="{$labelfor_Training_City_Town}">
		{BEGIN Training_City_Town_label}{$label training_profile Training_City_Town }{END Training_City_Town_label}
	</label>
	<div class="r-edit-field">
		{$Training_City_Town_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Training_City_Town">
		<div class="text-muted" >
		{$tooltip training_profile Training_City_Town }		</div>
	</div>
</div>


{END Training_City_Town_fieldblock}
											
{BEGIN Training_Venue_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Training_Venue}  r-vertical-field" 
	data-fieldname="Training Venue" 
	data-signal-error-for="Training_Venue{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field12" {$item_integrated_edit_field12} data-pageid="{$pageid}" data-field="Training_Venue" >


	<label class="r-edit-label control-label" for="{$labelfor_Training_Venue}">
		{BEGIN Training_Venue_label}{$label training_profile Training_Venue }{END Training_Venue_label}
	</label>
	<div class="r-edit-field">
		{$Training_Venue_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Training_Venue">
		<div class="text-muted" >
		{$tooltip training_profile Training_Venue }		</div>
	</div>
</div>


{END Training_Venue_fieldblock}
											
{BEGIN Training_start_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Training_start_date}  r-vertical-field" 
	data-fieldname="Training start date" 
	data-signal-error-for="Training_start_date{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field18" {$item_integrated_edit_field18} data-pageid="{$pageid}" data-field="Training_start_date" >


	<label class="r-edit-label control-label" for="{$labelfor_Training_start_date}">
		{BEGIN Training_start_date_label}{$label training_profile Training_start_date }{END Training_start_date_label}
	</label>
	<div class="r-edit-field">
		{$Training_start_date_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Training_start_date">
		<div class="text-muted" >
		{$tooltip training_profile Training_start_date }		</div>
	</div>
</div>


{END Training_start_date_fieldblock}
											
{BEGIN Training_end_date_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Training_end_date}  r-vertical-field" 
	data-fieldname="Training end date" 
	data-signal-error-for="Training_end_date{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field19" {$item_integrated_edit_field19} data-pageid="{$pageid}" data-field="Training_end_date" >


	<label class="r-edit-label control-label" for="{$labelfor_Training_end_date}">
		{BEGIN Training_end_date_label}{$label training_profile Training_end_date }{END Training_end_date_label}
	</label>
	<div class="r-edit-field">
		{$Training_end_date_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Training_end_date">
		<div class="text-muted" >
		{$tooltip training_profile Training_end_date }		</div>
	</div>
</div>


{END Training_end_date_fieldblock}
											
{BEGIN Training_Title_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Training_Title}  r-vertical-field" 
	data-fieldname="Training Title" 
	data-signal-error-for="Training_Title{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field20" {$item_integrated_edit_field20} data-pageid="{$pageid}" data-field="Training_Title" >


	<label class="r-edit-label control-label" for="{$labelfor_Training_Title}">
		{BEGIN Training_Title_label}{$label training_profile Training_Title }{END Training_Title_label}
	</label>
	<div class="r-edit-field">
		{$Training_Title_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Training_Title">
		<div class="text-muted" >
		{$tooltip training_profile Training_Title }		</div>
	</div>
</div>


{END Training_Title_fieldblock}
											
{BEGIN Zone_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Zone}  r-vertical-field" 
	data-fieldname="Zone" 
	data-signal-error-for="Zone{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field21" {$item_integrated_edit_field21} data-pageid="{$pageid}" data-field="Zone" >


	<label class="r-edit-label control-label" for="{$labelfor_Zone}">
		{BEGIN Zone_label}{$label training_profile Zone }{END Zone_label}
	</label>
	<div class="r-edit-field">
		{$Zone_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Zone">
		<div class="text-muted" >
		{$tooltip training_profile Zone }		</div>
	</div>
</div>


{END Zone_fieldblock}
											
{BEGIN Sub_City_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Sub_City}  r-vertical-field" 
	data-fieldname="Sub City" 
	data-signal-error-for="Sub_City{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field22" {$item_integrated_edit_field22} data-pageid="{$pageid}" data-field="Sub_City" >


	<label class="r-edit-label control-label" for="{$labelfor_Sub_City}">
		{BEGIN Sub_City_label}{$label training_profile Sub_City }{END Sub_City_label}
	</label>
	<div class="r-edit-field">
		{$Sub_City_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Sub_City">
		<div class="text-muted" >
		{$tooltip training_profile Sub_City }		</div>
	</div>
</div>


{END Sub_City_fieldblock}
											
{BEGIN Participant_Facility_or_Organization_Type_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Participant_Facility_or_Organization_Type}  r-vertical-field" 
	data-fieldname="Participant Facility or Organization Type" 
	data-signal-error-for="Participant_Facility_or_Organization_Type{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field23" {$item_integrated_edit_field23} data-pageid="{$pageid}" data-field="Participant_Facility_or_Organization_Type" >


	<label class="r-edit-label control-label" for="{$labelfor_Participant_Facility_or_Organization_Type}">
		{BEGIN Participant_Facility_or_Organization_Type_label}{$label training_profile Participant_Facility_or_Organization_Type }{END Participant_Facility_or_Organization_Type_label}
	</label>
	<div class="r-edit-field">
		{$Participant_Facility_or_Organization_Type_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Participant_Facility_or_Organization_Type">
		<div class="text-muted" >
		{$tooltip training_profile Participant_Facility_or_Organization_Type }		</div>
	</div>
</div>


{END Participant_Facility_or_Organization_Type_fieldblock}
											
{BEGIN Pre_Test_Score_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Pre_Test_Score}  r-vertical-field" 
	data-fieldname="Pre-Test Score" 
	data-signal-error-for="Pre_Test_Score{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field24" {$item_integrated_edit_field24} data-pageid="{$pageid}" data-field="Pre_Test_Score" >


	<label class="r-edit-label control-label" for="{$labelfor_Pre_Test_Score}">
		{BEGIN Pre_Test_Score_label}{$label training_profile Pre_Test_Score }{END Pre_Test_Score_label}
	</label>
	<div class="r-edit-field">
		{$Pre_Test_Score_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Pre_Test_Score">
		<div class="text-muted" >
		{$tooltip training_profile Pre_Test_Score }		</div>
	</div>
</div>


{END Pre_Test_Score_fieldblock}
											
{BEGIN Skill_Test_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Skill_Test}  r-vertical-field" 
	data-fieldname="Skill Test" 
	data-signal-error-for="Skill_Test{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field25" {$item_integrated_edit_field25} data-pageid="{$pageid}" data-field="Skill_Test" >


	<label class="r-edit-label control-label" for="{$labelfor_Skill_Test}">
		{BEGIN Skill_Test_label}{$label training_profile Skill_Test }{END Skill_Test_label}
	</label>
	<div class="r-edit-field">
		{$Skill_Test_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Skill_Test">
		<div class="text-muted" >
		{$tooltip training_profile Skill_Test }		</div>
	</div>
</div>


{END Skill_Test_fieldblock}
											
{BEGIN Post_Test_Score_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_Post_Test_Score}  r-vertical-field" 
	data-fieldname="Post-Test Score" 
	data-signal-error-for="Post_Test_Score{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field26" {$item_integrated_edit_field26} data-pageid="{$pageid}" data-field="Post_Test_Score" >


	<label class="r-edit-label control-label" for="{$labelfor_Post_Test_Score}">
		{BEGIN Post_Test_Score_label}{$label training_profile Post_Test_Score }{END Post_Test_Score_label}
	</label>
	<div class="r-edit-field">
		{$Post_Test_Score_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="Post_Test_Score">
		<div class="text-muted" >
		{$tooltip training_profile Post_Test_Score }		</div>
	</div>
</div>


{END Post_Test_Score_fieldblock}
										</td>
			{END cellblock_grid_c3}
										</tr>
										</tbody></table>
				
{BEGIN details_event_profile}
<div data-itemtype="details_preview" data-itemid="details_preview" {$item_details_preview} data-pageid="{$pageid}" class="bs-details"> 
	<div class="panel panel-info details-grid">
		<div class="panel-heading">
			<h4 class="panel-title">
							{$caption event_profile }				
							<span>
					{$detailslButtons_event_profile}
																				</span>
			</h4>
		</div>
		<div class="panel-body">
			{$displayDetailTable_event_profile}
		</div>
	</div>
</div>
{END details_event_profile}
	
				{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	
">
		 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Save			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Back to list			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancel			</a>
</span>
{END cancel_button}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
